<div class="modal" tabindex="-1" role="dialog" id="changePasswordModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && changePassword()">
                <div class="modal-header">
                    <h5 class="modal-title">Cambia password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="oldPassword">Vecchia Password:</label>
                        <input type="password" id="oldPassword"
                               class="form-control" name="password"
                               formControlName="oldPassword"
                               [ngClass]="{ 'is-invalid': oldPassword.touched && oldPassword.invalid }"
                        />
                        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="error-message">
                            <div *ngIf="!!oldPassword.errors?.required">
                                Vecchia Password obbligatoria
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Nuova Password:</label>
                        <input type="password" id="password"
                               class="form-control" name="password"
                               formControlName="password"
                               [ngClass]="{ 'is-invalid': password.touched  && password.invalid }"
                        />
                        <div *ngIf="password.touched && password.invalid" class="error-message">
                            <div *ngIf="!!password.errors?.required">
                                Nuova Password obbligatoria
                            </div>
                            <div *ngIf="!!password.errors?.pattern"><p>
                            La password deve contenere almeno 8 caratteri,
                            con almeno un carattere minuscolo, maiuscolo, speciale e numerico</p></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Conferma Password:</label>
                        <input type="password" id="confirmPassword"
                               class="form-control" name="confirmPassword"
                               formControlName="confirmPassword"
                               [ngClass]="{ 'is-invalid': password.touched && confirmPassword.invalid }"
                        />
                        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="error-message">
                            <div *ngIf="!!confirmPassword.errors?.required">
                                Conferma password obbligatoria
                            </div>
                            <div *ngIf="!!confirmPassword.errors?.noPasswordMatch">
                                Le password non sono identiche
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="error">
                        Qualcosa è andato storto!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-lg btn-primary btn-block">Invia</button>
                </div>
            </form>
        </div>
    </div>
</div>
<spinner [loading]="loading"></spinner>