<div class="card-row card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 d-none d-md-inline"></div>
            <div class="col-md-10 col-10"><h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5></div>
            <div class="col-md-1 col-2">
                <a [hidden]="current_role_view > 1" data-toggle="modal" data-target="#patchModal">
                    <i class="fa fa-edit" aria-hidden="true" title="Modifica Dati"></i>
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 1rem">
            <div class="col-md-1 d-none d-md-inline">
            </div>
            <div class="col-md-6 col-12">
                <p class="card-text"><i class="fa fa-envelope"></i>&nbsp;&nbsp;
                    <a href="mailto:user.email">{{user.email}}</a></p>
            </div>
            <div class="col-md-5 col-12">
                <div [hidden]="current_role_view > 1">

                    <div class="card-text" style="color: red;" [hidden]="user.verified">
                        <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Non Verificato
                    </div>
                    <div class="card-text" style="color: green" [hidden]="!user.verified">
                        <i class="fa fa-check-circle"></i>&nbsp;&nbsp;Verificato
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: .75rem">
            <div class="col-md-1 d-none d-md-inline">
            </div>
            <div class="card-text col-md-11 col">
                <i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;
                <span class="d-none d-sm-inline">
                        Membro dal:
                    </span>
                <span [innerHTML]="getUserCreatedAt()"></span>
            </div>
        </div>
        <div class="row" style="margin-bottom: .75rem">
            <div class="col-md-1 d-none d-md-inline"></div>
            <div class="card-text  col-md-11">
                <i class="fa fa-pencil-ruler"></i>&nbsp;&nbsp;
                <b>Ruoli</b>&nbsp;
                <span *ngFor="let r of user.roles">{{r.name}}&nbsp;</span>
            </div>
        </div>
        <div class="row" style="margin-bottom: .75rem" *ngIf="user.height && user.weight">
            <div class="col-md-1 d-none d-md-inline"></div>
            <div class="card-text col-md-4">
                <i class="fa fa-weight"></i>&nbsp;&nbsp;
                {{user.weight}}&nbsp;kg
            </div>
            <div class="card-text col-md-4">
                <i class="fa fa-text-height"></i>&nbsp;&nbsp;
                {{user.height}}&nbsp;cm
            </div>
        </div>

    </div>
</div>

<user-patch-modal (done)="updateUser(user.id)"></user-patch-modal>
