<mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title [ngClass]="{'blue-light': isNotActive()}">
            <a (click)="goToInfo()">
                {{bundle?.name || 'Loading...'}} - {{bundle?.customer.firstName}} {{bundle?.customer.lastName}}
            </a>
        </mat-panel-title>
        <mat-panel-description class="panel-header-description">
            {{bundle?.bundleSpec.description || 'Loading...'}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-ex-panel-body">
        <div class="panel-body-description">
            <span>{{bundle?.bundleSpec.description || 'Loading...'}}</span>
        </div>
        <div class="panel-content">
            <div>
            <span class="blue-light" *ngIf="isNotActive()">
                <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;Non Attivo
            </span>

            <span class="green-light" *ngIf="isValid()">
                <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;Attivo
            </span>
                <span class="red-light" *ngIf="isExpired()">
                <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;Scaduto
            </span>
            </div>
            <div>
                <mat-icon fontSet="fas" fontIcon="fa-tag"></mat-icon>&nbsp;{{bundle?.type | map: bundleType}}
            </div>
            <div>
                <mat-icon fontSet="fas" fontIcon="fa-user-tag"></mat-icon>&nbsp;
                {{ bundle?.customer.firstName || 'Loading...'}} {{ bundle?.customer.lastName }}
            </div>
            <ng-container [ngSwitch]="bundle?.type">
                <ng-container *ngSwitchCase="PERSONAL">
                    <div>
                        <mat-icon fontSet="fa" fontIcon="fa-running"></mat-icon>&nbsp;
                        {{bundle?.sessions.length}}/{{bundle?.option.number}} Sessioni
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="COURSE">
                    <ng-container *ngIf="!!bundle?.startTime">
                    <div>
                        <mat-icon fontSet="fas" fontIcon="fa-hourglass-start"></mat-icon>
                        Data di inizio&nbsp;&nbsp;{{bundle?.startTime| date: 'dd/MM/yyyy'}}
                    </div>
                    <div>
                        <mat-icon fontSet="fa" fontIcon="fa-hourglass-end"></mat-icon>
                        Data di fine&nbsp;&nbsp;{{bundle?.endTime| date: 'dd/MM/yyyy'}}
                    </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <div *ngIf="!!bundle?.expiredAt">
                <mat-icon fontSet="fa" fontIcon="fa-calendar-times"></mat-icon>
                Data scadenza&nbsp;&nbsp;{{bundle?.expiredAt | date: 'dd/MM/yyyy'}}
            </div>
        </div>
    </div>
    <div class="panel-actions">
        <button mat-button color="primary" (click)="goToInfo()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>&nbsp;Info
            </span>
        </button>
        <button mat-button *ngIf="canEdit && bundle?.type ==='C'" (click)="edit()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>&nbsp;{{isNotActive()? 'Attiva' : 'Modifica'}}
            </span>
        </button>
        <button *ngIf="bundle?.deletable && canDelete" mat-button color="warn" (click)="delete()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-trash"></mat-icon>&nbsp;Elimina
            </span>
        </button>
    </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
