<calendar-header [view]="view"
                 [viewDate]="viewDate"
                 [desktop]="isDesktop()"
                 (done)="onViewDateChanged($event)"></calendar-header>
<!--suppress AngularUndefinedBinding -->
<div [ngSwitch]="view" class="main-calendar"
     (swipeleft)="onSwipeLeft($event)"
     (swiperight)="onSwipeRight($event)">
    <mwl-calendar-month-view
            *ngSwitchCase="MONTH"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            locale="it"
            [weekStartsOn]="weekStartsOn"
            [activeDayIsOpen]="activeDayIsOpen"
            [excludeDays]="excludeDays"
            (dayClicked)="handleEvent('day',$event)"
            (eventClicked)="handleEvent('info',$event)"
            (eventTimesChanged)="handleEvent('change',$event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="WEEK"
            [viewDate]="viewDate"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            [events]="events"
            [excludeDays]="excludeDays"
            [weekStartsOn]="weekStartsOn"
            locale="it"
            [hourSegments]="1"
            [refresh]="refresh"
            (dayHeaderClicked)="header('header', $event)"
            (hourSegmentClicked)="handleEvent('hour',$event)"
            (eventClicked)="handleEvent('info',$event)"
            (eventTimesChanged)="handleEvent('change',$event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="DAY"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            locale="it"
            [hourSegments]="1"
            (hourSegmentClicked)="handleEvent('hour',$event)"
            (eventClicked)="handleEvent('info',$event)"
            (eventTimesChanged)="handleEvent('change',$event)">
    </mwl-calendar-day-view>
</div>

<button
    #next
    mwlCalendarNextView
    (viewDateChange)="onViewDateChanged($event)"
    [(viewDate)]="viewDate"
    [view]="view"
    [excludeDays]="excludeDays"
    hidden>
</button>

<button
    #prev
    mwlCalendarPreviousView
    (viewDateChange)="onViewDateChanged($event)"
    [(viewDate)]="viewDate"
    [view]="view"
    [excludeDays]="excludeDays"
    hidden>
</button>
