<div class="card-row" [ngClass]="{ 'card': classMode == 'default', 'no-card': classMode == 'light' }" >
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 d-none d-md-inline">
                <div class="green-led" [hidden]="bundle.disabled"></div>
                <div class="red-led" [hidden]="!bundle.disabled"></div>
            </div>
            <div class="col-md-8 col">
                <h5 class="card-title">{{bundle.name}}</h5>
            </div>
            <div class="col-md-1 col">
                <a (click)="toggleDisabled()" *ngIf="mode == 'write' && current_role_view == 1">
                    <i class="fa fa-ban" [hidden]="bundle.disabled" title="Disabilita"></i>
                    <i class="fa fa-check" [hidden]="!bundle.disabled" title="Abilita"></i>
                </a>
            </div>
            <div class="col-md-1 col">
                <a (click)="editBundle()" *ngIf="mode == 'write' && current_role_view == 1"
                   data-toggle="modal" data-target="#putModal">
                    <i class="fa fa-edit" aria-hidden="true" title="Modifica"></i>
                </a>
                <a (click)="emitBundle()" *ngIf="mode == 'add' && current_role_view == 1">
                    <i class="fa fa-plus" title="Aggiungi"></i>
                </a>
                <a (click)="emitBundle()" *ngIf="mode == 'delete' && current_role_view == 1">
                    <i class="fa fa-minus" title="Rimuovi"></i>
                </a>
            </div>
            <div class="col-md-1 col">
                <a (click)="toggle()">
                    <i [hidden]="hidden" class="fa fa-angle-down" title="Apri"></i>
                    <i [hidden]="!hidden" class="fa fa-angle-up" title="Chiudi"></i>
                </a>
            </div>
        </div>
        <div [hidden]="!hidden" >
            <div class="row" style="margin-bottom: .75rem">
                <div class="col-sm-1 d-none d-md-inline">
                </div>
                <div class="col-sm-11 col-12">
                    <p class="card-text">{{bundle.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 d-none d-md-inline"></div>
                <div class="card-text col-sm-3 col-6" style="text-align: left">
                    <b>Prezzo</b>&nbsp;&nbsp;{{bundle.price}}&euro;</div>
                <div class="card-text col-sm-3 col-6" ><b>Sessioni</b>&nbsp;&nbsp;{{bundle.numSessions}}</div>
                <div class="card-text col-sm-3 col-6" style="color: red;" [hidden]="!bundle.disabled">
                    <i class="fa fa-times-circle"></i> Disabilitato
                </div>
                <div class="card-text col-sm-3 col-6" style="color: green;" [hidden]="bundle.disabled">
                    <i class="fa fa-check-circle"></i> Abilitato
                </div>
                <div class="card-text col-sm-2 d-none d-md-inline">&nbsp;&nbsp;</div>
            </div>
        </div>
    </div>
</div>