<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5 mat-dialog-title>{{data.title}}</h5>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <label for="name" class="sr-only">Nome</label>
                <input type="text"
                       matInput
                       placeholder="Nome"
                       id="name"
                       name="name"
                       formControlName="name"
                       [ngClass]="{ 'is-invalid': name.touched && name.invalid }"/>
                <mat-error *ngIf="name.touched && name.invalid">
                    <div *ngIf="!!name.errors?.required">
                        Nome dell'edizione obbligatorio
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="startTime" class="sr-only">Data d'inizio</label>
                <input matInput
                       id="startTime"
                       [matDatepicker]="startTimePicker"
                       name="startTime"
                       formControlName="startTime"
                       placeholder="Data d'inizio"
                       [ngClass]="{ 'is-invalid': startTime.touched && startTime.invalid }">
                <mat-error *ngIf="startTime.touched && startTime.invalid">
                    <div *ngIf="!!startTime.errors?.required">Data d'inizio obbligatoria</div>
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
                <mat-datepicker #startTimePicker></mat-datepicker>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-flat-button color="accent">Invia</button>
    </div>
</form>
