/Servers
/.metadata
/application.yml
/application.properties
*~
.#*
*#
app/target/
app/coverage
app/certs/
app/node/
app/node_modules/
data/

bin
.classpath
.project
.settings
.springBeans
.sts4-cache/
.attach_pid*
.DS_Store
*.sw*
*.iml
.idea
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/# See http://help.github.com/ignore-files/ for more about ignoring files.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
e2e/*.js
e2e/*.map
*.sh

infrastructure/.terraform/
*.tfvars