<div *ngIf="current_role_view != 0" class="page-content container" [hidden]="!authenticated()">
    <div class="row ">
        <div class="col-lg-3 d-none d-lg-block">
            <div id="admin-menu">
                <ul class="nav flex-column">
                    <li class="nav-item menu-heading menu-item">
                        <a routerLinkActive="active" routerLink="/home">
                            <i class="fas fa-sitemap">&nbsp;&nbsp;</i>Sezioni
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']">
                        <a routerLink="/user/profile">
                            <i class="fas fa-user">&nbsp;&nbsp;</i>Profilo
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']"
                        *ngIf="current_role_view == 1">
                        <a routerLink="/home/sales">
                            <i class="fas fa-money-bill-wave">&nbsp;&nbsp;</i>Vendite
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']"
                        *ngIf="current_role_view == 1">
                        <a routerLink="/home/users">
                            <i class="fas fa-users">&nbsp;&nbsp;</i>Utenti
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']"
                        *ngIf="current_role_view == 1">
                        <a routerLink="/home/bundles">
                            <i class="fas fa-box">&nbsp;&nbsp;</i>Pacchetti
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']"
                        *ngIf="current_role_view">
                        <a routerLink="/home/booking">
                            <i class="fas fa-calendar-alt">&nbsp;&nbsp;</i>Calendario
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div [hidden]="authenticated()">
    <h1>Welcome</h1>
    <p>Login to see your greeting</p>
</div>
