<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5 mat-dialog-title>{{data.title}}</h5>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <label for="name" class="sr-only">Nome</label>
                <input type="text"
                       matInput
                       placeholder="Nome"
                       id="name"
                       name="name"
                       formControlName="name"
                       [ngClass]="{ 'is-invalid': name.touched && name.invalid }"/>
                <div *ngIf="name.touched && name.invalid" class="error-message">
                    <div *ngIf="!!name.errors?.required">
                        Nome del pacchetto obbligatorio
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="price" class="sr-only">Prezzo</label>
                <input placeholder="Prezzo&nbsp;&euro;"
                       matInput
                       id="price"
                       name="price"
                       formControlName="price"
                       [ngClass]="{ 'is-invalid': price.touched && price.invalid }"
                />
                <div *ngIf="price.touched && price.invalid" class="error-message">
                    <div *ngIf="!!price.errors?.required">Prezzo del pacchetto obbligatorio</div>
                    <div *ngIf="!!price.errors?.pattern">Prezzo del pacchetto non valido</div>
                </div>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="numSessions" class="sr-only">Numero di Sessioni</label>
                <input placeholder="Numero di sessioni"
                       matInput
                       id="numSessions"
                       name="numSessions"
                       formControlName="numSessions"
                       [ngClass]="{ 'is-invalid': numSessions.touched && numSessions.invalid }" />
                <div *ngIf="numSessions.touched && numSessions.invalid" class="error-message">
                    <div *ngIf="!!numSessions.errors?.required">Numero di sessioni obbligatori</div>
                    <div *ngIf="!!numSessions.errors?.pattern">Il numero di sessioni deve essere intero</div>
                </div>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="description" class="sr-only">Descrizione</label>
                <textarea placeholder="Descrizione"
                          matInput
                          id="description"
                          name="description"
                          formControlName="description"
                          [ngClass]="{ 'is-invalid': description.touched && description.invalid }"></textarea>
                <div *ngIf="description.touched && description.invalid" class="error-message">
                    <div *ngIf="!!description.errors?.required">Descrizione del pacchetto obbligatoria</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-flat-button color="accent">Invia</button>
    </div>
</form>
