<div class="page-container">
    <mat-toolbar color="basic" class="search-toolbar">
        <form class="search-form">
            <mat-form-field class="search-input">
                <label class="sr-only" for="search-input">Search</label>
                <input matInput
                       type="text"
                       title="Ricerca Pacchetti"
                       id="search-input"
                       name="query"
                       [(ngModel)]="query"/>
            </mat-form-field>
            <button mat-button type="submit" (click)="getBundles()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </mat-toolbar>
    <cdk-virtual-scroll-viewport [hidden]="ds.empty" itemSize="50" class="scroll-viewport">

        <div *cdkVirtualFor="let b of ds;" class="scroll-item">
            <mat-expansion-panel [class.mat-expansion-panel]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{b?.name || 'Loading...'}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{b?.description || 'Loading...'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <span [hidden]="!b?.disabled">
                        <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;Abilitato
                    </span>
                    <span [hidden]="b?.disabled">
                        <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;Disabilitato
                    </span>
                </div>
                <div>
                    <mat-icon fontSet="fa" fontIcon="fa-money-check-alt"></mat-icon>Prezzo&nbsp;{{b?.price}}
                </div>
                <div>
                    <mat-icon fontSet="fa" fontIcon="fa-running"></mat-icon>Sessioni&nbsp;{{b?.numSessions}}
                </div>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
        </div>
    </cdk-virtual-scroll-viewport>
    <mat-list [hidden]="!ds.empty" class="no-card">
        <mat-list-item>
        <span class="empty-list">
            <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;
            {{ SIMPLE_NO_CARD_MESSAGE }}
        </span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <button type="button" mat-fab color="primary" class="fab-button-add"

            title="Aggiungi Pacchetto" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!--<bundle-modal-->
<!--modalTitle="Modifica pacchetto"-->
<!--modalId="putModal"-->
<!--modalCloseId="putClose"-->
<!--modalClosingMessage=" è stato modificato!"-->
<!--edit="true"-->
<!--(modalEvent)="delayedFindBundles()">-->
<!--</bundle-modal>-->
