<h5 mat-dialog-title> {{modalData?.title}}</h5>
<!--<button type="button" (click)="close()">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--</button>-->
<ng-container [ngSwitch]="modalData?.event.meta?.type">
    <ng-container *ngSwitchCase="'reservation'">
        <div mat-dialog-content>
            <i *ngIf="modalData?.event.meta?.confirmed"></i>
            <i class="fas fa-check-double"
               *ngIf="modalData?.event.meta?.confirmed && modalData?.event.meta.session.completed"></i>
            <i *ngIf="!modalData?.event.meta.confirmed"></i>&nbsp;
            L'allenamento dalle {{ modalData?.event.start | date :  'HH:mm a'}}
            alle {{ modalData?.event.end | date :  'HH:mm a'}}
            del cliente {{modalData?.event.meta.user.lastName}}
            <span *ngIf="!modalData?.event.meta?.confirmed"> non</span> è stato confermato e
            <span *ngIf="!modalData?.event.meta.session.completed"> non è stato </span> completato!
        </div>
        <div mat-dialog-actions>
            <button type="button" mat-flat-button color="basic" (click)="close()">Ok</button>
            <button type="button" mat-flat-button color="primary"
                    *ngIf="!modalData?.event.meta?.confirmed"
                    (click)="submit()">Conferma</button>
            <button type="button" mat-flat-button color="primary"
                    *ngIf="!modalData?.event.meta?.session.completed && modalData?.event.meta?.confirmed"
                    (click)="submit()">Completa</button>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'admin'">
        <div mat-dialog-content>
            <i class="fas fa-door-closed"></i>&nbsp;
            La palestra è chiusa il giorno {{ modalData?.event.start | date :  'dd-MM-yyyy'}}
            dalle {{ modalData?.event.start | date :  'HH:mm a'}}
            alle {{ modalData?.event.end | date :  'HH:mm a'}}.
        </div>
        <div mat-dialog-actions>
            <button type="button" mat-flat-button color="basic" (click)="close()">Ok</button>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'trainer'">
        <div mat-dialog-content>
            <i class="fas fa-bed"></i>&nbsp;
            Sei di riposo dalle {{ modalData?.event.start | date :  'HH:mm a'}}
            alle {{ modalData?.event.end | date :  'HH:mm a'}}.
        </div>
        <div mat-dialog-actions>
            <button type="button" mat-flat-button color="basic" (click)="close()">Ok</button>
        </div>
    </ng-container>
</ng-container>
