<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && createUser()">
    <h5  mat-dialog-title>Registra Nuova Utenza</h5>
    <div mat-dialog-content>
        <div>

            <mat-form-field>
                <label for="firstNamePostModal" class="sr-only">Nome:</label>
                <input matInput
                       placeholder="Nome"
                       id="firstNamePostModal"
                       type="text"
                       formControlName="firstName"
                       [ngClass]="{ 'is-invalid': firstName.touched && firstName.invalid }"
                />
                <mat-error *ngIf="firstName.touched && firstName.invalid">
                    <div *ngIf="!!firstName.errors?.required">Nome obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>

            <mat-form-field>
                <label for="lastNamePostModal" class="sr-only">Cognome:</label>
                <input matInput
                       placeholder="Cognome"
                       id="lastNamePostModal"
                       type="text"
                       formControlName="lastName"
                       [ngClass]="{ 'is-invalid': lastName.touched && lastName.invalid }"/>
                <mat-error *ngIf="lastName.touched && lastName.invalid">
                    <div *ngIf="!!lastName.errors?.required">Cognome obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>

            <mat-form-field>

                <label for="emailPostModal" class="sr-only">Email:</label>
                <input matInput
                       placeholder="Email"
                       id="emailPostModal"
                       type="text"
                       formControlName="email"
                       [ngClass]="{ 'is-invalid': email.touched && email.invalid }"/>
                <mat-error *ngIf="email.touched && email.invalid">
                    <div *ngIf="!!email.errors?.required">Email obbligatoria</div>
                    <div *ngIf="!!email.errors?.email">Email non valida</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>

            <mat-form-field>

                <label for="rolePostModal" ><b>Ruolo</b></label>
                <mat-select
                        id="rolePostModal"
                        type="text"
                        formControlName="type"
                        [ngClass]="{ 'is-invalid': type.touched && type.invalid }">
                    <mat-option value="customer">Utente</mat-option>
                    <mat-option value="trainer">Allenatore</mat-option>
                </mat-select>
                <mat-error *ngIf="type.touched && type.invalid">
                    <div *ngIf="!!type.errors?.required">Ruolo obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-flat-button	color="accent" type="submit">Invia</button>
        </div>
    </div>
</form>