<button id="admin-info-modal-button" [hidden]="true" data-toggle="modal" data-target="#admin-info-modal">Open Modal</button>
<div class="modal" tabindex="-1" role="dialog" id="admin-info-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{modalData?.title}}</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [ngSwitch]="modalData?.event.meta?.type">
                <div *ngSwitchCase="'reservation'">
                    <div class="modal-body" >
                        <i class="fas fa-check" *ngIf="modalData?.event.meta?.confirmed"></i>
                        <i class="fas fa-check-double"
                           *ngIf="modalData?.event.meta?.confirmed && modalData?.event.meta.session.completed"></i>
                        <i class="fas fa-ban" *ngIf="!modalData?.event.meta.confirmed"></i>&nbsp;
                        L'allenamento dalle {{ modalData?.event.start | date :  'HH:mm a'}}
                        alle {{ modalData?.event.end | date :  'HH:mm a'}}
                        del cliente {{modalData?.event.meta.user.lastName}}
                        <span *ngIf="!modalData?.event.meta?.confirmed"> non</span> è stato confermato e
                        <span *ngIf="!modalData?.event.meta.session.completed"> non è stato </span> completato!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">Ok</button>
                        <button type="button"
                                class="btn btn-primary"
                                *ngIf="!modalData?.event.meta?.confirmed"
                                (click)="submit()">Conferma</button>
                        <button type="button"
                                class="btn btn-primary"
                                *ngIf="!modalData?.event.meta?.session.completed && modalData?.event.meta?.confirmed"
                                (click)="submit()">Completa</button>
                    </div>
                </div>
                <div *ngSwitchCase="'admin'">
                    <div class="modal-body" >
                        <div class="row">
                            <div class="col-12">
                                <i class="fas fa-door-closed"></i>&nbsp;
                                La palestra è chiusa il giorno {{ modalData?.event.start | date :  'dd-MM-yyyy'}}
                                dalle {{ modalData?.event.start | date :  'HH:mm a'}}
                                alle {{ modalData?.event.end | date :  'HH:mm a'}}.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">Ok</button>
                    </div>
                </div>
                <div *ngSwitchCase="'trainer'">
                    <div class="modal-body" >
                        <i class="fas fa-door-closed"></i>&nbsp;
                        {{modalData?.event.meta?.user.firstName}} è di riposo dalle
                        {{ modalData?.event.start | date :  'dd-MM-yyyy HH:mm a'}}
                        alle {{ modalData?.event.end | date :  'dd-MM-yyyy HH:mm a'}}.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<spinner [loading]="loading"></spinner>
