<div style="background-color: white; padding: 15px; border: 1px solid rgba(0,0,0,.125);">

    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div
                        class="btn-sm btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="onViewDateChanged()">
                    Prossimo
                </div>
                <div
                        class="btn-sm btn-outline-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                        (viewDateChange)="onViewDateChanged()" >
                    Oggi
                </div>
                <div
                        class="btn-sm btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="onViewDateChanged()">
                    Successivo
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'it' }}</h5>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <div
                        class="btn-sm btn-primary"
                        (click)="onViewDateChanged(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">
                    Mese
                </div>
                <div
                        class="btn-sm btn-primary"
                        (click)="onViewDateChanged(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">
                    Settimana
                </div>
                <div
                        class="btn-sm btn-primary"
                        (click)="onViewDateChanged(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day">
                    Giorno
                </div>
            </div>
        </div>
    </div>
    <br>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                locale="it"
                [activeDayIsOpen]="activeDayIsOpen"
                [excludeDays]="excludeDays"
                (dayClicked)="dayClicked($event)"
                (eventClicked)="handleEvent('info', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="viewDate"
                [dayStartHour]="dayStartHour"
                [dayEndHour]="dayEndHour"
                [events]="events"
                [excludeDays]="excludeDays"
                locale="it"
                [hourSegments]="1"
                [refresh]="refresh"
                (hourSegmentClicked)="hourSegmentClicked($event)"
                (dayHeaderClicked)="dayHeaderClicked($event)"
                (eventClicked)="handleEvent('info', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [dayStartHour]="dayStartHour"
                [dayEndHour]="dayEndHour"
                locale="it"
                [hourSegments]="1"
                (hourSegmentClicked)="hourSegmentClicked($event)"
                (dayClicked)="dayClicked($event)"
                (eventClicked)="handleEvent('info', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>

    <spinner [loading]="loading"></spinner>
</div>
