<div style="background-color: white; padding: 15px; border: 1px solid rgba(0,0,0,.125);">

    <div [ngSwitch]="current_role_view">
        <customer-calendar
                *ngSwitchCase="3"
                [view]="view"
                [viewDate]="viewDate"
                [role]="current_role_view"
                [email]="email"
                [excludeDays]="excludeDays"
                [dayStartHour]="dayStartHour"
                [weekStartsOn]="weekStartsOn"
                [dayEndHour]="dayEndHour">
        </customer-calendar>
        <admin-calendar
                *ngSwitchCase="1"
                [view]="view"
                [viewDate]="viewDate"
                [role]="current_role_view"
                [email]="email"
                [excludeDays]="excludeDays"
                [dayStartHour]="dayStartHour"
                [weekStartsOn]="weekStartsOn"
                [dayEndHour]="dayEndHour">
        </admin-calendar>
    </div>

</div>
