<button id="customer-info-modal-button" [hidden]="true" data-toggle="modal" data-target="#customer-info-modal">
    Open Modal
</button>
<div class="modal" tabindex="-1" role="dialog" id="customer-info-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{modalData?.title}}</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [ngSwitch]="modalData?.event.meta?.type">
                <div *ngSwitchCase="'admin'">
                    <div class="modal-body" >
                        <div class="col-12">
                            <i class="fas fa-door-closed"></i>&nbsp;
                            La palestra è chiusa il giorno {{ modalData?.event.start | date :  'dd-MM-yyyy'}}
                            dalle {{ modalData?.event.start | date :  'HH:mm a'}}
                            alle {{ modalData?.event.end | date :  'HH:mm a'}}.
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">Ok</button>
                    </div>
                </div>
                <div *ngSwitchCase="'reservation'">
                    <div class="modal-body" >
                        <div *ngIf="!!modalData?.event.meta">
                            <i class="fas fa-check" *ngIf="modalData?.event.meta?.confirmed"></i>
                            <i class="fas fa-ban" *ngIf="!modalData?.event.meta?.confirmed"></i>&nbsp;
                            Il tuo allenamento dalle {{ modalData?.event.start | date :  'HH:mm a'}}
                            alle {{ modalData?.event.end | date :  'HH:mm a'}}
                            <span *ngIf="!modalData?.event.meta.confirmed"> non</span> è stato confermato.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" (click)="close()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
