<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                    class="btn-sm btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="onViewDateChanged()">
                Precedente
            </div>
            <div
                    class="btn-sm btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                    (viewDateChange)="onViewDateChanged()" >
                Oggi
            </div>
            <div
                    class="btn-sm btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="onViewDateChanged()">
                Successivo
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'it' }}</h5>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
                    class="btn-sm btn-primary"
                    (click)="onViewDateChanged(MONTH)"
                    [class.active]="view === MONTH">
                Mese
            </div>
            <div
                    class="btn-sm btn-primary"
                    (click)="onViewDateChanged(WEEK)"
                    [class.active]="view === WEEK">
                Settimana
            </div>
            <div
                    class="btn-sm btn-primary"
                    (click)="onViewDateChanged(DAY)"
                    [class.active]="view === DAY">
                Giorno
            </div>
        </div>
    </div>
</div>

<div [ngSwitch]="view">
    <mwl-calendar-month-view
            *ngSwitchCase="MONTH"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            locale="it"
            [weekStartsOn]="weekStartsOn"
            [activeDayIsOpen]="activeDayIsOpen"
            [excludeDays]="excludeDays"
            (dayClicked)="handleEvent('day',$event)"
            (eventClicked)="handleEvent('info',$event)"
            (eventTimesChanged)="handleEvent('change',$event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
            *ngSwitchCase="WEEK"
            [viewDate]="viewDate"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            [events]="events"
            [excludeDays]="excludeDays"
            [weekStartsOn]="weekStartsOn"
            locale="it"
            [hourSegments]="1"
            [refresh]="refresh"
            (dayHeaderClicked)="header('header', $event)"
            (hourSegmentClicked)="handleEvent('hour',$event)"
            (eventClicked)="handleEvent('info',$event)"
            (eventTimesChanged)="handleEvent('change',$event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="DAY"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            locale="it"
            [hourSegments]="1"
            (hourSegmentClicked)="handleEvent('hour',$event)"
            (eventClicked)="handleEvent('info',$event)"
            (eventTimesChanged)="handleEvent('change',$event)">
    </mwl-calendar-day-view>
</div>

<!--<customer-hour-modal (event)="getEvents()"-->
<!--                     [modalData]="modalData">-->
<!--</customer-hour-modal>-->

<!--<customer-delete-modal (event)="getEvents()"-->
<!--                     [modalData]="modalData">-->
<!--</customer-delete-modal>-->

<!--<customer-info-modal [modalData]="modalData">-->
<!--</customer-info-modal>-->
