<button id="trainer-delete-modal-button" [hidden]="true" data-toggle="modal" data-target="#trainer-delete-modal">Open Modal</button>
<div class="modal" tabindex="-1" role="dialog" id="trainer-delete-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{modalData?.title}}</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [ngSwitch]="modalData?.event.meta.type">
                <div *ngSwitchCase="'trainer'">
                    <div class="modal-body">
                        <div *ngIf="!!modalData?.event">
                            <div>
                                Vuoi eliminare il giorno di riposo ({{ modalData?.event.start | date :  'dd/MM/yyyy'}})
                                di {{modalData.event.meta.user.lastName}}?
                                <br>
                                Conferma per eliminare oppure cancella.
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'reservation'">
                    <div class="modal-body">
                        <div *ngIf="!!modalData?.event">
                            <div>
                                Vuoi eliminare la prenotazione del {{ modalData?.event.start | date :  'dd/MM/yyyy'}}
                                dalle {{ modalData?.event.start | date :  'HH:mm a'}}
                                alle {{ modalData?.event.end | date :  'HH:mm a'}}?
                                <br>
                                Conferma per eliminare oppure cancella.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancella</button>
                    <button type="button" class="btn btn-primary" (click)="submit()">Conferma</button>
                </div>
            </div>
        </div>
    </div>
</div>

<spinner [loading]="loading"></spinner>
