<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5> {{modalData?.title}}</h5>
    <!--    <button type="button" class="close" (click)="close()">-->
    <!--        <span aria-hidden="true">&times;</span>-->
    <!--    </button>-->
    <div mat-dialog-content>
        <ng-container *ngIf="modalData?.event.date">
            Crea evento dalle {{ modalData?.event.date | date : 'HH:mm'}}
            del giorno {{ modalData?.event?.date | date : 'dd/MM/yyyy'}}?
            <br>
        </ng-container>
        <div>
            <mat-form-field>
                <label for="event"><b>Tipo Evento</b></label>
                <mat-select
                        id="event"
                        formControlName="event"
                        [ngClass]="{ 'is-invalid': event.touched && event.invalid }">
                    <mat-option value="chiusura">Chiusura</mat-option>
                    <mat-option value="corso">Corso</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="!modalData.event.date">
            <mat-form-field>
                <label for="date" class="sr-only">Data</label>
                <input matInput
                       id="date"
                       [matDatepicker]="datePicker"
                       name="date"
                       formControlName="date"
                       placeholder="Data"
                       [ngClass]="{ 'is-invalid': date.touched && date.invalid }">
                <mat-error *ngIf="date.touched && date.invalid">
                    <div *ngIf="!!date.errors?.required">Data obbligatoria</div>
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker ></mat-datepicker>
            </mat-form-field>
        </div>

        <div *ngIf="!modalData.event.date">
            <mat-form-field>
                <label for="startTime" class="sr-only">Orario inizio</label>
                <input matInput
                       id="startTime"
                       name="startTime"
                       formControlName="startTime"
                       placeholder="Orario d'inizio"
                       [ngxTimepicker]="startTimePicker"
                       [format]="24"
                       [ngClass]="{ 'is-invalid': startTime.touched && startTime.invalid }" readonly>
                <mat-error *ngIf="startTime.touched && startTime.invalid">
                    <div *ngIf="!!startTime.errors?.required">Orario obbligatoria</div>
                </mat-error>
                <ngx-material-timepicker-toggle matSuffix [for]="startTimePicker">
                    <svg style="width: 1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" ngxMaterialTimepickerToggleIcon>
                        <path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003                   6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 6 L 11 12.414062 L 15.292969 16.707031 L 16.707031 15.292969 L 13 11.585938 L 13 6 L 11 6 z"></path>
                    </svg>
                </ngx-material-timepicker-toggle>
                <ngx-material-timepicker #startTimePicker [theme]="theme"></ngx-material-timepicker>
            </mat-form-field>
        </div>

        <div *ngIf="!modalData.event.date">
            <mat-form-field>
                <label for="endTime" class="sr-only">Orario fine</label>
                <input matInput
                       id="endTime"
                       name="endTime"
                       formControlName="endTime"
                       placeholder="Orario di fine"
                       [ngxTimepicker]="endTimePicker"
                       [format]="24"
                       [ngClass]="{ 'is-invalid': endTime.touched && endTime.invalid }" readonly>
                <mat-error *ngIf="endTime.touched && endTime.invalid">
                    <div *ngIf="!!endTime.errors?.required">Orario obbligatoria</div>
                </mat-error>
                <ngx-material-timepicker-toggle matSuffix [for]="endTimePicker">
                    <svg style="width: 1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px" ngxMaterialTimepickerToggleIcon>
                        <path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003                   6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 6 L 11 12.414062 L 15.292969 16.707031 L 16.707031 15.292969 L 13 11.585938 L 13 6 L 11 6 z"></path>
                    </svg>
                </ngx-material-timepicker-toggle>
                <ngx-material-timepicker #endTimePicker [theme]="theme"></ngx-material-timepicker>
            </mat-form-field>
        </div>


        <ng-container *ngIf="!!event.value">
            <ng-container *ngTemplateOutlet="nameT;context:{
                type: event.value,
                title: template[event.value].title,
                message: template[event.value].message
            }">
            </ng-container>
        </ng-container>

        <ng-template #nameT let-type="type" let-message="message" let-title="title">
            <div>
                <mat-form-field>
                    <label for="name">{{title}}</label>
                    <input name="name"
                           matInput
                           id="name"
                           type="text"
                           formControlName="name"
                           [ngClass]="{ 'is-invalid': name.touched && name.invalid }"/>
                    <mat-error *ngIf="name.touched && name.invalid">
                        <div *ngIf="!!name.errors?.required">Nome {{type}} obbligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="event.value == 'corso'">
                <mat-form-field>
                    <label for="course">Scegli corso</label>
                    <mat-select name="course"
                                matInput
                                id="course"
                                type="text"
                                formControlName="course"
                                [ngClass]="{ 'is-invalid': course.touched && course.invalid }">
                        <mat-option [value]="b.id" *ngFor="let b of modalData.event.courses">{{b.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="course.touched && course.invalid">
                        <div *ngIf="!!course.errors?.required">Corso obbligatorio</div>
                    </mat-error>
                </mat-form-field>
                <div *ngIf="!hasCourses" class="mat-error">Nessun corso disponibile</div>
            </div>
            <div>
                <label for="external" class="sr-only">Evento Esterno</label>
                <mat-checkbox id="external"
                              name="external"
                              formControlName="external">Evento Esterno</mat-checkbox>
            </div>

            <br>
            <span>{{message}}</span>
            <br>
        </ng-template>

    </div>
    <div mat-dialog-actions>
        <button mat-flat-button type="button" color="basic" (click)="close()">Cancella</button>
        <button mat-flat-button type="submit" color="primary">Conferma</button>
    </div>
</form>

