<h5 mat-dialog-title> {{modalData?.title}}</h5>
<!--                <button type="button" class="close" (click)="close()">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<div [ngSwitch]="modalData?.event.meta?.type" mat-dialog-content>
    <ng-container *ngSwitchCase="'admin'" >
        <delete-holiday-event [event]="modalData.event"></delete-holiday-event>
    </ng-container>
    <ng-container *ngSwitchCase="'trainer'">
        <delete-time-off-event [event]="modalData.event"></delete-time-off-event>
    </ng-container>
    <ng-container *ngSwitchCase="'reservation'">
        <delete-personal-event [event]="modalData.event"></delete-personal-event>
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-flat-button type="button" color="basic" (click)="close()">Cancella</button>
    <button mat-flat-button type="button" color="primary" (click)="submit()">Conferma</button>
</div>
