<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5> {{modalData?.title}}</h5>
    <!--    <button type="button" class="close" (click)="close()">-->
    <!--        <span aria-hidden="true">&times;</span>-->
    <!--    </button>-->
    <div mat-dialog-content>
        Crea evento dalle {{ modalData?.event.date | date : 'HH:mm a'}}
        del giorno {{ modalData?.event?.date | date : 'dd/MM/yyyy'}}?
        <br>
        <div>
            <mat-form-field>
                <label for="event"><b>Tipo Evento</b></label>
                <mat-select
                        id="event"
                        formControlName="event"
                        [ngClass]="{ 'is-invalid': event.touched && event.invalid }">
                    <mat-option value="chiusura">Chiusura</mat-option>
                    <mat-option value="corso">Corso</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <ng-container *ngIf="!!event.value">
            <ng-container *ngTemplateOutlet="nameT;context:{
                type: event.value,
                title: template[event.value].title,
                message: template[event.value].message
            }">
            </ng-container>
        </ng-container>

        <ng-template #nameT let-type="type" let-message="message" let-title="title">
            <div>
                <mat-form-field>
                    <label for="name">{{title}}</label>
                    <input name="name"
                           matInput
                           id="name"
                           type="text"
                           formControlName="name"
                           [ngClass]="{ 'is-invalid': name.touched && name.invalid }"/>
                    <mat-error *ngIf="name.touched && name.invalid">
                        <div *ngIf="!!name.errors?.required">Nome {{type}} obbligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="event.value == 'corso'">
                <mat-form-field>
                    <label for="course">Scegli corso</label>
                    <mat-select name="course"
                                matInput
                                id="course"
                                type="text"
                                formControlName="course"
                                [ngClass]="{ 'is-invalid': course.touched && course.invalid }">
                        <mat-option [value]="b.id" *ngFor="let b of modalData.event.courses">{{b.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="course.touched && course.invalid">
                        <div *ngIf="!!course.errors?.required">Corso obbligatorio</div>
                    </mat-error>
                </mat-form-field>
                <div *ngIf="!hasCourses" class="mat-error">Nessun corso disponibile</div>
            </div>
            <br>
            <span>{{message}}</span>
            <br>
        </ng-template>

    </div>
    <div mat-dialog-actions>
        <button mat-flat-button type="button" color="basic" (click)="close()">Cancella</button>
        <button mat-flat-button type="submit" color="primary">Conferma</button>
    </div>
</form>

