<mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" routerLink="/auth/login" [hidden]="hideLogin"></mat-icon>
<mat-menu #matMenu>
    <button mat-menu-item (click)="goToProfile()"><mat-icon>account_circle</mat-icon>&nbsp;Account</button>

    <button mat-menu-item *ngIf="!(currentRoleId | currentRole: 2)" (click)="gotToStats()">
        <mat-icon>show_chart</mat-icon>&nbsp;Statistiche</button>
    <button mat-menu-item (click)="goToGym()"><mat-icon>store</mat-icon>&nbsp;La mia palestra</button>
    <button mat-menu-item *ngIf="roles?.length > 1"
            [matMenuTriggerFor]="views">
        <mat-icon>remove_red_eye</mat-icon>&nbsp;Cambia vista
    </button>
    <button mat-menu-item (click)="goToAppInfo()"><mat-icon>info</mat-icon>&nbsp;App Info</button>
    <button mat-menu-item (click)="doLogout()"><mat-icon>logout</mat-icon>&nbsp;Logout</button>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="matMenu" [hidden]="hideMenu">
    <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #views="matMenu">
    <button *ngIf="roles | showRole: 1" [disabled]="currentRoleId | currentRole: 1"
            mat-menu-item (click)="switchRole(1)">
        &nbsp;Admin
    </button>
    <button *ngIf="roles | showRole: 2" [disabled]="currentRoleId | currentRole: 2"
            mat-menu-item (click)="switchRole(2)">
        &nbsp;Trainer
    </button>
    <button *ngIf="roles | showRole: 3" [disabled]="currentRoleId | currentRole: 3"
            mat-menu-item (click)="switchRole(3)">
        &nbsp;Cliente
    </button>
</mat-menu>
