<mat-toolbar color="primary" layout="row" class="main-toolbar" id="main-toolbar">
    <a mat-icon-button (click)="openSideBar()" *ngIf="isMobile && !isBack">
        <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
    </a>
    <a mat-icon-button (click)="back()" *ngIf="isMobile && isBack">
        <mat-icon>arrow_back</mat-icon>
    </a>
    <h1 class="main-app-name">
        <a id="main-app-name" (click)="goHome()">{{ title }}</a>
    </h1>
    <span class="spacer"></span>
    <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" routerLink="/auth/login" [hidden]="hideLogin()"></mat-icon>
    <mat-menu #matMenu>
        <button mat-menu-item (click)="doLogout()">Logout</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="matMenu" [hidden]="hide()">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
