<mat-toolbar color="primary" layout="row" class="main-toolbar" id="main-toolbar">
    <a mat-icon-button (click)="openSideBar()" *ngIf="isMobile && !isBack">
        <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
    </a>
    <a mat-icon-button (click)="back()" *ngIf="isBack">
        <mat-icon>arrow_back</mat-icon>
    </a>
    <h1 class="main-app-name">
        <a id="main-app-name" (click)="goHome()">{{ title }}</a>
    </h1>
    <span class="spacer"></span>
    <menu [hideMenu]="hideMenu()"
          [hideLogin]="hideLogin()"
          (logout)="doLogout()">

    </menu>
</mat-toolbar>
