<div id="menu-trainer">
    <h2 matSubheader>Home</h2>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/trainer/calendar">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-calendar-alt"></mat-icon>&nbsp;&nbsp;Calendario
        </span>
    </a>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/trainer/users">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-users"></mat-icon>&nbsp;&nbsp;Utenti
        </span>
    </a>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/trainer/bundles">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-box-open"></mat-icon>&nbsp;&nbsp;Pacchetti
        </span>
    </a>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/trainer/bundleSpecs">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-box"></mat-icon>&nbsp;&nbsp;Tipi Pacchetti
        </span>
    </a>
</div>
<div id="menu-account">
    <h2 matSubheader>Impostazioni</h2>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/trainer/profile">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>&nbsp;&nbsp;I miei dettagli
        </span>
    </a>
</div>
<div id="menu-settings">
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/trainer/settings/gym">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-store-alt"></mat-icon>&nbsp;&nbsp;La mia palestra
        </span>
    </a>
</div>
