<div id="menu-customer">
    <h2 matSubheader>Home</h2>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/customer/sales" [queryParams]="{id: user?.id}">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-receipt"></mat-icon>&nbsp;&nbsp;Ordini
        </span>
    </a>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/customer/calendar">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-calendar-alt"></mat-icon>&nbsp;&nbsp;Calendario
        </span>
    </a>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/customer/bundles" [queryParams]="{id: user?.id}">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-box-open"></mat-icon>&nbsp;&nbsp;Pacchetti
        </span>
    </a>
</div>
<div id="menu-account">
    <h2 matSubheader>Profilo</h2>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/customer/profile">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>&nbsp;&nbsp;I miei dettagli
        </span>
    </a>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/customer/stats" [queryParams]="{id: user?.id}">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-chart-line"></mat-icon>&nbsp;&nbsp;Risultati
        </span>
    </a>
</div>
<div id="menu-settings">
    <h2 matSubheader>Impostazioni</h2>
    <a href=# mat-list-item
       [routerLinkActive]="['active-link']"
       routerLink="/customer/settings/gym">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-store-alt"></mat-icon>&nbsp;&nbsp;La mia palestra
        </span>
    </a>
</div>
