.card-list-checkbox {
    margin: 6px;
}
.card-list-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 250px;
}

.card-list-content {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -ms-available;
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}
