<mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <a (click)="goToInfo()">
                {{bundleSpec?.name || 'Loading...'}}
            </a>
        </mat-panel-title>
        <mat-panel-description class="panel-header-description">
            {{bundleSpec?.description || 'Loading...'}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-body-description">
        <span>{{bundleSpec?.description || 'Loading...'}}</span>
    </div>
    <div class="panel-content">
        <div>
            <mat-icon fontSet="fas" fontIcon="fa-tag"></mat-icon>&nbsp;{{getBundleType()}}
        </div>
        <div>
        <span class="green-light" [hidden]="bundleSpec?.disabled">
            <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;Abilitato
        </span>
            <span class="red-light" [hidden]="!bundleSpec?.disabled">
            <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;Disabilitato
        </span>
        </div>
        <div>
            <mat-icon fontSet="fa" fontIcon="fa-money-check-alt"></mat-icon>Prezzo&nbsp;{{bundleSpec?.price}}
        </div>
        <ng-container [ngSwitch]="bundleSpec?.type">

        <ng-container *ngSwitchCase="PERSONAL">
            <div>
                <mat-icon fontSet="fa" fontIcon="fa-running"></mat-icon>Sessioni&nbsp;{{bundleSpec?.numSessions}}
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="COURSE">
            <div>
                <mat-icon fontSet="fas" fontIcon="fa-hourglass-start"></mat-icon>Data di inizio&nbsp;&nbsp;{{bundleSpec?.startTime| date : 'shortDate'}}
            </div>
            <div>
                <mat-icon fontSet="fa" fontIcon="fa-hourglass-end"></mat-icon>Data di fine&nbsp;&nbsp;{{bundleSpec?.endTime| date : 'shortDate'}}
            </div>
            <div>
                <mat-icon fontSet="fas" fontIcon="fa-users"></mat-icon>Massimo numero di clienti&nbsp;{{bundleSpec?.maxCustomers}}
            </div>
        </ng-container>
        </ng-container>
    </div>
    <div class="panel-actions">
        <button mat-button color="primary" (click)="goToInfo()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>&nbsp;Info
            </span>
        </button>
        <ng-container *ngIf="bundleSpec?.type=='C'">
            <button mat-button (click)="goToEditions()">
                <span>
                    <mat-icon fontSet="fas" fontIcon="fa-list"></mat-icon>&nbsp;Edizioni
                </span>
            </button>
        </ng-container>
        <button mat-button color="accent" (click)="toggleDisabled()">
            <span *ngIf="bundleSpec?.disabled">
                <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>&nbsp;Abilita
            </span>
            <span *ngIf="!bundleSpec?.disabled">
                <mat-icon fontSet="fa" fontIcon="fa-ban"></mat-icon>&nbsp;Disabilita
            </span>
        </button>
        <button mat-button color="warn" (click)="deleteBundle()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Elimina
            </span>
        </button>
    </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
