<div class="page-container">
    <mat-toolbar color="basic" class="search-toolbar">
        <form class="search-form">
            <mat-form-field class="search-input" appearance="standard" floatLabel="never">
                <label class="sr-only" for="search-input">Cerca pacchetti</label>
                <input matInput
                       type="text"
                       title="Cerca pacchetti"
                       placeholder="Cerca pacchetti"
                       id="search-input"
                       name="query"
                       [(ngModel)]="query"/>
            </mat-form-field>
            <button mat-button type="submit" (click)="getBundles()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </mat-toolbar>
    <cdk-virtual-scroll-viewport [hidden]="ds.empty" itemSize="50" class="scroll-viewport">

        <div *cdkVirtualFor="let b of ds;" class="scroll-item">
            <bundle-item [bundle]="b" (done)="getBundles()"></bundle-item>
        </div>
    </cdk-virtual-scroll-viewport>
    <no-item [hidden]="!ds.empty" [(message)]="SIMPLE_NO_CARD_MESSAGE" ></no-item>
    <button type="button" mat-fab color="primary" class="fab-button-add"

            title="Aggiungi Pacchetto" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
