<mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{bundle?.name || 'Loading...'}}
        </mat-panel-title>
        <mat-panel-description class="panel-header-description">
            {{bundle?.description || 'Loading...'}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-body-description">
        <span>{{bundle?.description || 'Loading...'}}</span>
    </div>
    <div>
        <span class="green-light" [hidden]="bundle?.disabled">
            <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;Abilitato
        </span>
        <span class="red-light" [hidden]="!bundle?.disabled">
            <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;Disabilitato
        </span>
    </div>
    <div>
        <mat-icon fontSet="fa" fontIcon="fa-money-check-alt"></mat-icon>Prezzo&nbsp;{{bundle?.price}}
    </div>
    <div>
        <mat-icon fontSet="fa" fontIcon="fa-running"></mat-icon>Sessioni&nbsp;{{bundle?.numSessions}}
    </div>
    <div class="panel-actions">
        <button mat-button color="primary" (click)="openDialog()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>&nbsp;Modifica
            </span>
        </button>
        <button mat-button color="accent" (click)="toggleDisabled()">
            <span *ngIf="bundle?.disabled">
                <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>&nbsp;Abilita
            </span>
            <span *ngIf="!bundle?.disabled">
                <mat-icon fontSet="fa" fontIcon="fa-ban"></mat-icon>&nbsp;Disabilita
            </span>
        </button>
        <button mat-button color="warn" (click)="deleteBundle()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Elimina
            </span>
        </button>
    </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
