<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5 mat-dialog-title>Modifica Configurazione</h5>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <label for="name" class="sr-only">Nome della palestra</label>
                <input name="name"
                       matInput
                       placeholder="Nome della palestra"
                       id="name"
                       type="text"
                       [ngClass]="{ 'is-invalid': name.touched && name.invalid }"
                       formControlName="name"/>
                <mat-error *ngIf="name.touched && name.invalid">
                    <div *ngIf="!!name.errors?.required">Nome obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="dayStartHour" class="sr-only">Orario di Apertura</label>
                <input name="dayStartHour"
                       matInput
                       placeholder="Orario di Apertura"
                       id="dayStartHour"
                       type="number"
                       [ngClass]="{ 'is-invalid': dayStartHour.touched && dayStartHour.invalid }"
                       formControlName="dayStartHour"/>
                <mat-error *ngIf="dayStartHour.touched && dayStartHour.invalid">
                    <div *ngIf="!!dayStartHour.errors?.required">Orario di apertura obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="dayEndHour" class="sr-only">Orario di Chiusura</label>
                <input name="dayEndHour"
                       matInput
                       placeholder="Orario di Chiusura"
                       id="dayEndHour"
                       type="number"
                       [ngClass]="{ 'is-invalid': dayEndHour.touched && dayEndHour.invalid }"
                       formControlName="dayEndHour"/>
                <mat-error *ngIf="dayEndHour.touched && dayEndHour.invalid">
                    <div *ngIf="!!dayEndHour.errors?.required">Orario di chiusura obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-selection-list #days>
                <h3 mat-subheader>Giorni di Chiusura</h3>
                <div *ngFor="let day of dayOfWeek; let c=index">
                    <mat-list-option checkboxPosition="before"
                                     [selected]="isSelected(c)"
                                     [value]="c"> {{day}}
                    </mat-list-option>
                </div>
            </mat-selection-list>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-flat-button color="accent">Invia</button>
    </div>
</form>
