<div class="modal" tabindex="-1" role="dialog" [id]="modalId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate (ngSubmit)="f.form.valid && submit()">
                <div class="modal-header">
                    <h5 class="modal-title">{{modalTitle}}</h5>
                    <button type="button" class="close" [id]="modalCloseId" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amount" class="sr-only">Somma da Pagare</label>
                        <input type="number"
                               placeholder="Somma da pagare"
                               class="form-control"
                               id="amount"
                               name="amount"
                               numeric="true"
                               [(ngModel)]="sale.amount" #amount="ngModel"
                               [ngClass]="{ 'is-invalid': f.submitted && amount.invalid }" required/>
                        <div *ngIf="f.submitted && amount.invalid" class="error-message">
                            <div *ngIf="amount.errors.required">Somma da pagare obbligatoria</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Invia</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="loader" [hidden]="!loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
