<h5 mat-dialog-title> {{modalData?.title}}</h5>
<!--<button type="button" class="close" (click)="close()">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--</button>-->
<div mat-dialog-content>
    Vuoi eliminare la prenotazione ({{ modalData?.event.start | date :  'HH:mm a - dd/MM/yyyy'}}) ?
    <br>
    Conferma per eliminare oppure cancella.
</div>
<div mat-dialog-actions>
    <button type="button" mat-flat-button color="basic" (click)="close()">Cancella</button>
    <button type="button" mat-flat-button color="accent"(click)="submit()">Conferma</button>
</div>
