<mat-tab-group>
    <mat-tab label="Vendite al mese">
        <div class="card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Vendite - {{intervalName || 'Loading...'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div style="display: block">
                        <canvas baseChart #barChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                        </canvas>
                    </div>
                </mat-card-content>
                <div class="summary-footer">
                    <div class="summary-footer-text">
                        Totale&nbsp;{{totalPrice}} &euro;
                    </div>
                    <div class="summary-footer-text">
                        Pagate&nbsp;{{amountPayed}} &euro;
                    </div>
                </div>
                <mat-card-actions>
                    <ng-container *ngTemplateOutlet="interval"></ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Vendite per pacchetto">
        <div class="card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Vendite per pacchetto - {{intervalName || 'Loading...'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="chart">
                        <canvas baseChart #pieChart
                                [datasets]="pieChartData"
                                [labels]="pieChartLabels"
                                [colors]="pieChartColors"
                                [chartType]="pieChartType"
                                [options]="pieChartOptions"
                                [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </mat-card-content>
                <div class="summary-footer">
                    <div class="summary-footer-text">
                        Totale&nbsp;{{totalPrice}} &euro;
                    </div>
                    <div class="summary-footer-text">
                        Pagate&nbsp;{{amountPayed}} &euro;
                    </div>
                </div>
                <mat-card-actions>
                    <ng-container *ngTemplateOutlet="interval"></ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Prenotazioni Settimanali">
        <div class="card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Prenotazioni Settimanali - {{intervalName || 'Loading...'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="chart">
                        <canvas baseChart #lineChart
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                        ></canvas>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <ng-container *ngTemplateOutlet="interval"></ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Prenotazioni per Giorno">
        <div class="card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Prenotazioni per giorno della settimana - {{intervalName || 'Loading...'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div style="display: block">
                        <canvas baseChart #barChartDay
                                [datasets]="barChartDayData"
                                [labels]="barChartDayLabels"
                                [options]="barChartDayOptions"
                                [legend]="barChartDayLegend"
                                [chartType]="barChartDayType">
                        </canvas>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <ng-container *ngTemplateOutlet="interval"></ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>

<ng-template #interval>
    <button mat-button [matMenuTriggerFor]="menu">Intervallo</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateCharts('1 month')">1 Mese</button>
        <button mat-menu-item (click)="updateCharts('3 months')">3 Mesi</button>
        <button mat-menu-item (click)="updateCharts('6 months')">6 Mesi</button>
        <button mat-menu-item (click)="updateCharts('1 year')">1 Anno</button>
    </mat-menu>
</ng-template>
