<simple-search [query]="query" text="Cerca pacchetti" (done)="dataSourceSearch($event)"></simple-search>
<cdk-virtual-scroll-viewport [hidden]="ds.empty" itemSize="186" class="scroll-viewport">

    <div *cdkVirtualFor="let spec of ds; templateCacheSize: 0; trackBy: trackBy" class="scroll-item">
        <bundle-spec-select-item [spec]="spec"
                                 [selected]="selected[spec?.id]"
                                 (done)="selectBundleSpec(spec)">

        </bundle-spec-select-item>

    </div>
</cdk-virtual-scroll-viewport>
<no-item [hidden]="!ds.empty" [message]="SIMPLE_NO_CARD_MESSAGE" ></no-item>
<button type="button" mat-fab color="primary" class="fab-button-add"
        title="Conferma Vendità" (click)="confirmSale()">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-check"></mat-icon>
        </span>
</button>
