<mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <a (click)="goToInfo()">
                Vendita #{{sale?.id || 'Loading...'}}
            </a>
        </mat-panel-title>
        <mat-panel-description class="panel-header-description">
            {{sale?.customer?.firstName || 'Loading...'}} {{sale?.customer?.lastName || 'Loading...'}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-ex-panel-body">
        <div class="panel-body-description">
            <span>Cliente:&nbsp;{{sale?.customer?.firstName || 'Loading...'}} {{sale?.customer?.lastName || 'Loading...'}}</span>
        </div>
        <div class="panel-content">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-calendar"></mat-icon>Creato&nbsp;{{getDate(sale?.createdAt)}}
        </span>
                <span [hidden]="!sale?.payed" class="green-light">
            <mat-icon fontSet="fas" fontIcon="fa-calendar-check"></mat-icon>Pagato&nbsp;{{getDate(sale?.payedDate)}}
        </span>
                <span>
            <mat-icon fontSet="fas" fontIcon="fa-money-bill-wave"></mat-icon>Totale&nbsp;{{sale?.totalPrice}}&euro;
        </span>

                <span [hidden]="sale?.payed" class="red-light">
            <mat-icon fontSet="fab" fontIcon="fa-cc-apple-pay"></mat-icon>Da Pagare&nbsp;
                    {{sale?.totalPrice-sale?.amountPayed}}&euro;
        </span>
        </div>
    </div>
    <div class="panel-actions">
        <button mat-button color="primary" (click)="goToInfo()">
        <span>
        <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>&nbsp;Info
            </span>
        </button>
        <ng-container *ngIf="canPay">
            <button mat-button (click)="pay()" *ngIf="!sale?.payed">
            <span>
                <mat-icon fontSet="fas" color="primary" fontIcon="fa-credit-card"></mat-icon>&nbsp;Paga
            </span>
            </button>
        </ng-container>
        <ng-container *ngIf="canDelete">
            <button mat-button color="warn" (click)="deleteSale()" *ngIf="!sale?.payed">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Rimuovi
            </span>
            </button>
        </ng-container>
    </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
