<mat-toolbar color="basic" class="search-toolbar">
    <form class="search-form">
        <mat-form-field [ngClass]="{'search-font-weight': true,
                                    'search-input': !filters,
                                    'search-input-shrink': !!filters }"
                        floatLabel="never">
            <label class="sr-only" for="search-input">{{text}}</label>
            <input matInput
                   type="text"
                   title="{{text}}"
                   placeholder="{{text}}"
                   id="search-input"
                   name="query"
                   [(ngModel)]="name"/>
            <button mat-button matSuffix type="submit" (click)="emit('name', $event)">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <ng-container *ngIf="!!filters" >
            <filter-toolbar
                    class="search-filters"
                    (change)="emit(filterName, $event)"
                    [selected]="selected"
                    [filters]="filters">

            </filter-toolbar>
        </ng-container>
    </form>
</mat-toolbar>
