<ng-container>
    <i *ngIf="event.meta?.reservation.confirmed"></i>
    <i class="fas fa-check-double"
       *ngIf="event.meta?.reservation.confirmed && event.meta.session.completed"></i>
    <i *ngIf="!event.meta.reservation.confirmed"></i>&nbsp;
    L'allenamento dalle {{ event?.start | date :  'HH:mm'}}
    alle {{ event?.end | date :  'HH:mm'}}
    del cliente {{event.meta.reservation.user.lastName}}
    <span *ngIf="!event.meta?.reservation.confirmed"> non</span> è stato confermato e
    <span *ngIf="!event.meta.session.completed"> non è stato </span> completato!
</ng-container>
