.calendar-bottom-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar-top-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fab-button-add {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.main-calendar {
    /*height: calc(100vh - 96px) !important;*/
    top: 128px;
    padding: 8px;
    overflow-y: scroll;
}

.calendar-content {
    overflow: hidden;
}

@media (max-width: 599px) {
    .main-calendar {
        top: 112px;
        /*height: calc(100vh - 84px) !important;*/
    }

    .calendar-top-toolbar {
        top: 56px !important;
    }

}

.calendar-header {
    overflow: hidden;
}

.cell-totals {
    margin: 5px;
    text-align: center;
}

.badge {
    margin-right: 5px;
}
