.summary-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.summary-info {
    padding: 0 16px;
    display: flex;
    flex-direction: column
}

.sales-list {
    margin: 8px;
}

.sales-list > mat-expansion-panel-header {
    padding: 0 16px 0 16px;
}


.divider {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
