
.fab-button-add {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.panel-header-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 50px;
}

.panel-body-description > span {
    color: rgba(0,0,0,.54);
    word-break: break-word;
    overflow-wrap: break-word;
}

.panel-body-description {
    padding-bottom: 12px;
    overflow-x: hidden;
}

.panel-content {
    display: flex;
    flex-direction: column;
}

form.search-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*height: inherit;*/
}

::ng-deep .mat-select-content {
    font-weight: 200;
}

.search-datepicker {
    width: 50%;
}

.search-datepicker-w-filters {
    width: 42%;
}

.search-fulldate {
    width: 100%;
}

.search-fulldate-w-filters {
    width: 84%;
}

.search-text {
    width: 50%;
}

.search-text-w-filters {
    width: 42%;
}

.search-input-date {
    font-weight: 200;
}

.search-filters {
    width: 16%;
}

.search-input {
    /*flex-grow: 1;*/
    width: 100%;
    width: -webkit-fill-available;
    width: available;
    font-weight: 200;
}

mat-toolbar.search-toolbar {
    flex: 1 0 auto;
}

div.scroll-item {
    background-color: white;
}

mat-list.no-card {
    flex: 1 0 auto;
}

.panel-actions {
    display: flex;
    padding-top: 12px;
    flex-direction: row;
    justify-content: center;
}

.panel-actions > button {
    padding: 0 8px;
}

cdk-virtual-scroll-viewport.scroll-viewport {
    flex: 1 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -ms-available;
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    height: calc(100vh - 128px) !important;
}


mat-panel-title > a {
    color: inherit;
}

@media (max-width: 599px) {
    cdk-virtual-scroll-viewport.scroll-viewport {
        height: calc(100vh - 112px) !important;
    }
}
