<div class="card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{bundleSpec?.name || 'Loading...'}}</mat-card-title>
            <mat-card-subtitle>{{bundleSpec?.description || 'Loading...'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="summary-info">
                <div>
                    <span class="green-light" [hidden]="bundleSpec?.disabled">
                        <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;Abilitato
                    </span>

                    <span class="red-light" [hidden]="!bundleSpec?.disabled">
                        <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;Disabilitato
                    </span>
                </div>
                <div>
                    <mat-icon fontSet="fas" fontIcon="fa-tag"></mat-icon>&nbsp;{{getBundleType()}}
                </div>
                <div>
                    <mat-icon fontSet="fa" fontIcon="fa-money-check-alt"></mat-icon>Prezzo&nbsp;{{bundleSpec?.price}}
                </div>
                <ng-container [ngSwitch]="bundleSpec?.type">

                    <ng-container *ngSwitchCase="PERSONAL">
                        <div>
                            <mat-icon fontSet="fa" fontIcon="fa-running"></mat-icon>Sessioni&nbsp;{{bundleSpec?.numSessions}}
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="COURSE">
                        <div>
                            <mat-icon fontSet="fas" fontIcon="fa-history"></mat-icon>Cadenza Mesi&nbsp;&nbsp;{{bundleSpec?.number}}
                        </div>
                        <div>
                            <mat-icon fontSet="fas" fontIcon="fa-users"></mat-icon>Massimo numero di clienti&nbsp;{{bundleSpec?.maxCustomers}}
                        </div>
                    </ng-container>
                </ng-container>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <ng-container *ngIf="canShowEditions">
                <button mat-button (click)="goToEditions()">
                <span>
                    <mat-icon fontSet="fas" fontIcon="fa-list"></mat-icon>&nbsp;Edizioni
                </span>
                </button>
            </ng-container>
            <ng-container *ngIf="canDisable">
                <button mat-button color="accent" (click)="toggleDisabled()">
                <span *ngIf="bundleSpec?.disabled">
                    <mat-icon fontSet="fa" fontIcon="fa-check"></mat-icon>&nbsp;Abilita
                </span>
                    <span *ngIf="!bundleSpec?.disabled">
                    <mat-icon fontSet="fa" fontIcon="fa-ban"></mat-icon>&nbsp;Disabilita
                </span>
                </button>
            </ng-container>
            <ng-container *ngIf="canDelete">
                <button mat-button color="warn" (click)="deleteBundle()">
                <span>
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Elimina
                </span>
                </button>
            </ng-container>
        </mat-card-actions>
    </mat-card>
</div>
