<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5 mat-dialog-title>{{data.title}}</h5>
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <label for="type"><b>Tipo</b></label>
                <mat-select
                        id="type"
                        type="text"
                        formControlName="type"
                        [ngClass]="{ 'is-invalid': type.touched && type.invalid }">
                    <mat-option value="B">Pacchetto</mat-option>
                    <mat-option value="T">A Tempo</mat-option>
                    <mat-option value="D">A Consumo</mat-option>
                </mat-select>
                <mat-error *ngIf="type.touched && type.invalid">
                    <div *ngIf="!!type.errors?.required">Tipo obbligatorio</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="name" class="sr-only">Nome</label>
                <input type="text"
                       matInput
                       placeholder="Nome"
                       id="name"
                       name="name"
                       formControlName="name"
                       [ngClass]="{ 'is-invalid': name.touched && name.invalid }"/>
                <mat-error *ngIf="name.touched && name.invalid">
                    <div *ngIf="!!name.errors?.required">
                        Nome dell'opzione obbligatorio
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <label for="price" class="sr-only">{{priceDescription}}</label>
                <input placeholder="Prezzo&nbsp;&euro;"
                       matInput
                       id="price"
                       name="price"
                       formControlName="price"
                       [ngClass]="{ 'is-invalid': price.touched && price.invalid }"
                />
                <mat-error *ngIf="price.touched && price.invalid">
                    <div *ngIf="!!price.errors?.required">Prezzo dell'opzione obbligatorio</div>
                    <div *ngIf="!!price.errors?.pattern">Prezzo dell'opzione non valido</div>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <label for="number" class="sr-only">{{numberDescription}}</label>
                <input [placeholder]="numberDescription"
                       matInput
                       id="number"
                       name="number"
                       formControlName="number"
                       [ngClass]="{ 'is-invalid': number.touched && number.invalid }" />
                <mat-error *ngIf="number.touched && number.invalid">
                    <div *ngIf="!!number.errors?.required">Numero di mesi obbligatori</div>
                    <div *ngIf="!!number.errors?.pattern">Il numero di mesi deve essere intero</div>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-flat-button color="accent">Invia</button>
    </div>
</form>
