<div class="page-container">
    <mat-toolbar color="basic" class="search-toolbar">
        <form class="search-form">
            <mat-form-field class="search-input" appearance="standard" floatLabel="never">
                <label class="sr-only" for="search-input">Cerca pacchetti</label>
                <input matInput
                       type="text"
                       title="Cerca pacchetti"
                       placeholder="Cerca pacchetti"
                       id="search-input"
                       name="query"
                       [(ngModel)]="query"/>
            </mat-form-field>
            <button mat-button type="submit" (click)="getBundles()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </mat-toolbar>
    <cdk-virtual-scroll-viewport [hidden]="ds.empty" itemSize="186" class="scroll-viewport">

        <div *cdkVirtualFor="let bundle of ds; templateCacheSize: 0" class="scroll-item">
            <bundle-select-item [bundle]="bundle"
                                [selected]="selected[bundle?.id]"
                                (done)="selectBundle(bundle?.id)">

            </bundle-select-item>

        </div>
    </cdk-virtual-scroll-viewport>
    <no-item [hidden]="!ds.empty" [message]="SIMPLE_NO_CARD_MESSAGE" ></no-item>
    <button type="button" mat-fab color="primary" class="fab-button-add"
            title="Conferma Vendità" (click)="confirmSale()">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-check"></mat-icon>
        </span>
    </button>
</div>
