<div class="page-container">
    <mat-toolbar color="basic" class="search-toolbar">
        <form class="search-form">
            <mat-form-field class="search-input" appearance="standard" floatLabel="never">
                <label class="sr-only" for="search-input">Cerca utente</label>
                <input matInput
                       type="text"
                       title="Cerca utente"
                       placeholder="Cerca utente"
                       id="search-input"
                       name="query"
                       [(ngModel)]="query"/>
            </mat-form-field>
            <button type="submit"
                    mat-button (click)="getUsers()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </mat-toolbar>
    <cdk-virtual-scroll-viewport [hidden]="ds.empty" itemSize="50" class="scroll-viewport">
        <div *cdkVirtualFor="let u of ds;" class="scroll-item">
            <user-item [user]="u" (done)="getUsers()"></user-item>
        </div>
    </cdk-virtual-scroll-viewport>
    <no-item [hidden]="!ds.empty" [message]="SIMPLE_NO_CARD_MESSAGE"></no-item>
    <button type="button" mat-fab color="primary" class="fab-button-add"
            title="Aggiungi Utente" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
