<mat-expansion-panel [class.mat-expansion-panel]="false" [expanded]="open">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <a (click)="goToInfo()">
                {{workout?.name || 'Loading...'}}
            </a>
        </mat-panel-title>
        <mat-panel-description class="panel-header-description">
             {{workout?.tag2}} {{workout?.tag3}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-ex-panel-body">
        <div style="margin-bottom: 8px;">
            <span>{{workout?.tag1 || 'Loading...'}}</span>
        </div>
        <div class="panel-body-description">
            <span style="white-space: pre;" [innerHTML]="workout?.description"></span>
        </div>
    </div>
    <div class="panel-actions">
        <button mat-button color="primary" (click)="goToInfo()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>&nbsp;Info
            </span>
        </button>
        <button mat-button color="basic" *ngIf="canEdit" (click)="editWorkout()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>&nbsp;Modifica
            </span>
        </button><button mat-button color="warn" *ngIf="canDelete" (click)="deleteWorkout()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Elimina
            </span>
        </button>
    </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
