<div class="card-container">
    <mat-card>
        <mat-card-title>{{user?.firstName || 'Loading...'}} {{user?.lastName || 'Loading...'}}</mat-card-title>
        <mat-card-content>
            <div>
                <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>&nbsp;&nbsp;
                <a href="mailto:{{user?.email}}">{{user?.email || 'Loading...'}}</a>
            </div>
            <div>
                <mat-icon fontSet="fa" fontIcon="fa-calendar"></mat-icon>&nbsp;&nbsp;
                Membro dal:&nbsp;
                <span [innerHTML]="getUserCreatedAt()"></span>
            </div>
            <div>
                <div class="red-light" [hidden]="user?.verified">
                    <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;&nbsp;Non Verificato
                </div>
                <div class="green-light" [hidden]="!user?.verified">
                    <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;&nbsp;Verificato
                </div>
            </div>
            <div *ngIf="user?.height && user?.weight">
                <div>
                    <mat-icon fontSet="fa" fontIcon="fa-weight"></mat-icon>&nbsp;&nbsp;
                    {{user.weight || 'Loading...'}}&nbsp;kg
                </div>
                <div>
                    <mat-icon fontSet="fa" fontIcon="fa-text-height"></mat-icon>&nbsp;&nbsp;
                    {{user.height || 'Loading...'}}&nbsp;cm
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="canEdit" mat-button color="primary" (click)="openEditDialog()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>&nbsp;Modifica
            </span>
            </button>
            <button *ngIf="!user?.verified && canSendToken" mat-button color="accent" (click)="resendToken()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-key"></mat-icon>&nbsp;Re-Invia Token
            </span>
            </button>
            <button *ngIf="canSell" mat-button color="basic" (click)="buy()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-shopping-bag"></mat-icon>&nbsp;Acquista
            </span>
            </button>
            <button *ngIf="canDelete" mat-button color="warn" (click)="deleteUser()">
                <span>
                    <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Rimuovi
                </span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
