<mat-toolbar color="basic" class="calendar-top-toolbar">

    <!--    <ng-container *ngIf="!isDesktop() else desktopControls">-->
    <!--        <ng-container *ngTemplateOutlet="mobileControls" ></ng-container>-->
    <!--    </ng-container>-->

    <button mat-icon-button mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="onViewDateChanged()">
        <mat-icon fontSet="fas" fontIcon="fa-backward"></mat-icon>
    </button>
    <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'it': weekStartsOn }}</h4>

    <!--    <button mat-button-->
    <!--            (click)="onViewDateChanged(MONTH)"-->
    <!--            [class.active]="view === MONTH">-->
    <!--        Mese-->
    <!--    </button>-->
    <!--    <button mat-button-->
    <!--            (click)="onViewDateChanged(WEEK)"-->
    <!--            [class.active]="view === WEEK">-->
    <!--        Settimana-->
    <!--    </button>-->
    <!--    <button mat-button-->
    <!--            (click)="onViewDateChanged(DAY)"-->
    <!--            [class.active]="view === DAY">-->
    <!--        Giorno-->
    <!--    </button>-->

    <button mat-icon-button mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="onViewDateChanged()">
        <mat-icon fontSet="fas" fontIcon="fa-forward"></mat-icon>
    </button >

</mat-toolbar>

<ng-template #desktopControls>
    <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'it' }}</h4>
    <ng-container *ngIf="!isDesktop() else mobileControls"></ng-container>
    <!--    <button mat-stroked-button mwlCalendarToday color="primary"-->
    <!--            [(viewDate)]="viewDate"-->
    <!--            (viewDateChange)="onViewDateChanged()" >-->
    <!--        Oggi-->
    <!--    </button>-->
</ng-template>

<ng-template #mobileControls>

</ng-template>
