<mat-tab-group>
    <mat-tab label="Allenamenti Settimanali">
        <div class="card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Allenamenti Settimanali - {{intervalName || 'Loading...'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="chart">
                        <canvas baseChart #lineChart
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                        ></canvas>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <ng-container *ngTemplateOutlet="interval"></ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>

<ng-template #interval>
    <button mat-button [matMenuTriggerFor]="menu">Intervallo</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="update('1 month')">1 Mese</button>
        <button mat-menu-item (click)="update('3 months')">3 Mesi</button>
        <button mat-menu-item (click)="update('6 months')">6 Mesi</button>
        <button mat-menu-item (click)="update('1 year')">1 Anno</button>
    </mat-menu>
</ng-template>
