<loader></loader>
<div class="main-container">
    <nav-bar [authenticated]="isAuthenticated()"
             [appName]="appName"
             [title]="title"
             [isMobile]="!desktop"
             [isBack]="isBack"
             (logout)="logout()"
             (snav)="openSideBar()"
             (home)="goHome()">
    </nav-bar>
    <side-bar #sideBar
              [appName]="appName"
              [opened]="desktop && isAuthenticated()"
              [mode]="!desktop && isAuthenticated() ? 'over' : 'side'"
              [isMobile]="!desktop">
    </side-bar>
</div>



