<loader></loader>
<div class="main-container">
    <mat-toolbar color="primary" layout="row" class="main-toolbar" id="main-toolbar">
        <a mat-icon-button (click)="openSideBar()" *ngIf="!isDesktop()">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
        </a>
        <h1 class="main-app-name">
            <a id="main-app-name" routerLink="/">{{ appName }}</a>
        </h1>
        <span class="spacer"></span>
        <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" routerLink="/auth/login" [hidden]="hideLogin()"></mat-icon>
        <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" (click)="logout()" [hidden]="hideLogout()"></mat-icon>
    </mat-toolbar>
    <side-nav #sideBar
              [current_role_view]="current_role_view"
              [appName]="appName"
              [opened]="sideBarOpened()"
              [mode]="sideBarMode()"
              [isMobile]="!isDesktop()"
              [id]="user?.id">
    </side-nav>
</div>



