<div *ngIf="current_role_view != 0" class="page-content container" >
    <div class="row">
        <div class="col-lg-3">
            <div id="admin-menu" class="d-none d-lg-block">
                <ul class="nav flex-column">
                    <li class="nav-item menu-heading menu-item">
                        <a>
                            <i class="fas fa-home">&nbsp;&nbsp;</i>Operazioni
                        </a>
                    </li>
                    <li class="nav-item menu-item" [ngClass]="isOnProfile()">
                        <a (click)="navigateToProfile()">
                            <i class="fa fa-info" >&nbsp;&nbsp;</i>Informazioni
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        *ngIf="current_role_view == 1 && isCustomer()"
                        [routerLinkActive]="['active']">
                        <a routerLink="makeSale">
                            <i class="fa fa-box" >&nbsp;&nbsp;</i>Crea Vendita
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        *ngIf="isCustomer()"
                        [routerLinkActive]="['active']">
                        <a routerLink="sales">
                            <i class="fa fa-money-bill-wave">&nbsp;&nbsp;</i>Vendite
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']"
                        *ngIf="isCustomer()">
                        <a routerLink="trainings">
                            <i class="fas fa-dumbbell">&nbsp;&nbsp;</i>Allenamenti
                        </a>
                    </li>
                    <li class="nav-item menu-item" *ngIf="current_role_view == 1 && !isAdmin() && !user?.verified">
                        <a (click)="resendToken()">
                            <i class="fa fa-lock">&nbsp;&nbsp;</i>Re-invia Token
                        </a>
                    </li>
                    <li class="nav-item menu-item">
                        <a data-toggle="modal" data-target="#changePasswordModal">
                            <i class="fa fa-key">&nbsp;&nbsp;</i>Cambia Password
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none dropdown nav">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-cogs">&nbsp;&nbsp;</i>Operazioni
                </button>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a routerLink="user" class="dropdown-item" [ngClass]="isOnProfile()">
                        <i class="fa fa-info" >&nbsp;&nbsp;</i>Informazioni
                    </a>
                    <a routerLink="makeSale" class="dropdown-item"  [routerLinkActive]="['active']"
                       *ngIf="current_role_view == 1 && isCustomer()">
                        <i class="fa fa-box" >&nbsp;&nbsp;</i>Crea Vendita
                    </a>
                    <a routerLink="sales" class="dropdown-item"  [routerLinkActive]="['active']"
                       *ngIf="isCustomer()">
                        <i class="fa fa-money-bill-wave">&nbsp;&nbsp;</i>Vendite
                    </a>
                    <a (click)="resendToken()" *ngIf="current_role_view == 1 && !isAdmin()">
                        <i class="fa fa-lock">&nbsp;&nbsp;</i>Re-invia Token
                    </a>
                    <a data-toggle="modal" data-target="#changePasswordModal">
                        <i class="fa fa-key">&nbsp;&nbsp;</i>Cambia Password
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-9 col-md-12 col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<change-password-modal [(user)]="user"></change-password-modal>
