<mat-expansion-panel [class.mat-expansion-panel]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <a (click)="goToInfo()">
                {{user?.firstName || 'Loading...'}} {{user?.lastName || ''}}
            </a>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-ex-panel-body">

        <div>
            <div class="red-light" [hidden]="user?.verified">
                <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>&nbsp;&nbsp;Non Verificato
            </div>
            <div class="green-light" [hidden]="!user?.verified">
                <mat-icon fontSet="fa" fontIcon="fa-check-circle"></mat-icon>&nbsp;&nbsp;Verificato
            </div>
        </div>
        <div>
            <mat-icon fontSet="fa" fontIcon="fa-user-tag"></mat-icon>&nbsp;{{getRoleName()}}
        </div>
        <div>
            <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>&nbsp;
            <a href="mailto:{{user?.email}}">{{user?.email}}</a>
        </div>
        <div *ngIf="user?.phoneNumber">
            <mat-icon fontSet="fas" fontIcon="fa-phone"></mat-icon>&nbsp;&nbsp;
            <a href="tel:{{user?.phoneNumber}}">{{user?.phoneNumber || 'Loading...'}}</a>
        </div>
        <div>
            <mat-icon fontSet="fa" fontIcon="fa-calendar-alt"></mat-icon>&nbsp;
            <span>Membro dal {{user?.createdAt | date: "dd/MM/yyyy"}}</span>
        </div>
    </div>
    <div class="panel-actions">
        <button mat-button color="primary" (click)="goToInfo()">
            <span>
                <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>&nbsp;Info
            </span>
        </button>
        <button *ngIf="canEdit" mat-button (click)="openEditDialog()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>&nbsp;Modifica
            </span>
        </button>
        <button *ngIf="canDelete" mat-button color="warn" (click)="deleteUser()">
            <span>
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>&nbsp;Rimuovi
            </span>
        </button>
    </div>
</mat-expansion-panel>
<mat-divider></mat-divider>
