<h2 matSubheader *ngIf="isCustomer">Operazioni</h2>
<a mat-list-item *ngIf="canSell" color="basic" (click)="sell()">
    <span>
        <mat-icon fontSet="fas" fontIcon="fa-shopping-bag"></mat-icon>&nbsp;Acquista
    </span>
</a>
<a mat-list-item *ngIf="canShowBundles" (click)="showBundles()">
    <span>
        <mat-icon fontSet="fas" fontIcon="fa-box-open"></mat-icon>&nbsp;Pacchetti
    </span>
</a>
<a mat-list-item *ngIf="canShowSales" (click)="showSales()">
    <span>
        <mat-icon fontSet="fas" fontIcon="fa-receipt"></mat-icon>&nbsp;Ordini
    </span>
</a>
<a mat-list-item *ngIf="canShowSessions" (click)="showSessions()">
    <span>
        <mat-icon fontSet="fas" fontIcon="fa-dumbbell"></mat-icon>&nbsp;Allenamenti
    </span>
</a>
<a mat-list-item *ngIf="canMakeAppointments" (click)="makeAppointments()">
    <span>
        <mat-icon fontSet="far" fontIcon="fa-calendar-alt"></mat-icon>&nbsp;Appuntamenti
    </span>
</a>
<a mat-list-item
   *ngIf="canShowStats"
   (click)="showStats()">
        <span>
            <mat-icon fontSet="fas" fontIcon="fa-chart-line"></mat-icon>&nbsp;&nbsp;Risultati
        </span>
</a>
