<form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
    <h5 mat-dialog-title>Cambia password</h5>
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
    <div mat-dialog-content>
        <mat-form-field>
            <label for="oldPassword" class="sr-only">Vecchia Password:</label>
            <input matInput
                   type="password"
                   placeholder="Vecchia Password"
                   id="oldPassword"
                   name="password"
                   formControlName="oldPassword"
                   [ngClass]="{ 'is-invalid': oldPassword.touched && oldPassword.invalid }"/>
            <mat-error *ngIf="oldPassword.touched && oldPassword.invalid">
                <div *ngIf="!!oldPassword.errors?.required">Vecchia Password obbligatoria</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label for="password" class="sr-only">Nuova Password:</label>
            <input matInput
                   type="password"
                   placeholder="Nuova Password"
                   id="password"
                   name="password"
                   formControlName="password"
                   [ngClass]="{ 'is-invalid': password.touched  && password.invalid }"
            />
            <mat-error *ngIf="password.touched && password.invalid">
                <div *ngIf="!!password.errors?.required">Nuova Password obbligatoria</div>
                <div *ngIf="!!password.errors?.minlength">La password deve contenere almeno 8 caratteri.</div>
                <div *ngIf="!!password.errors?.maxlength">La password non può contente più di 30 caratteri.</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <label for="confirmPassword" class="sr-only">Conferma Password:</label>
            <input matInput
                   placeholder="Conferma Password"
                   type="password" id="confirmPassword"
                   name="confirmPassword"
                   formControlName="confirmPassword"
                   [ngClass]="{ 'is-invalid': password.touched && confirmPassword.invalid }"
            />
            <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div *ngIf="!!confirmPassword.errors?.required">Conferma password obbligatoria</div>
                <div *ngIf="!!confirmPassword.errors?.noPasswordMatch">Le password non sono identiche</div>
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-flat-button color="accent">Invia</button>
    </div>
</form>
