<div class="modal" tabindex="-1" role="dialog" id="payModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="form" role="form" novalidate (ngSubmit)="form.valid && submit()">
                <div class="modal-header">
                    <h5 class="modal-title">Pagamento Rata</h5>
                    <button type="button" class="close" id="payModalClose" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="amount" class="sr-only">Somma da Pagare</label>
                        <input type="number" id="amount"
                               class="form-control" name="amount"
                               formControlName="amount"
                               [ngClass]="{ 'is-invalid': amount.touched && amount.invalid }"/>
                        <div *ngIf="amount.touched && amount.invalid" class="error-message">
                            <div *ngIf="!!amount.errors?.required">Somma da pagare obbligatoria</div>
                            <div *ngIf="!!amount.errors?.min">La rata deve essere superiore a 0</div>
                            <div *ngIf="!!amount.errors?.max">La rata è superiore all'importo massimo dovuto</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Invia</button>
                </div>

            </form>
        </div>
    </div>
</div>

