<table class="card-table">
    <thead>
    <th colspan="2">
        <div class="input-group" id="adv-search">
            <label class="sr-only" for="search">Search</label>
            <input type="text" title="Ricerca Vendite"
                   [(ngModel)]="query"
                   class="form-control"
                   id="search"
                   placeholder="Search" />
            <button type="submit" class="btn" id="search-submit-end" (click)="findSales()">
                <i class="fa fa-search"></i>
            </button>

        </div>
    </th>
    </thead>
    <tr [hidden]="!empty" class="empty-list" style="margin-bottom: .75rem">
        <no-item [(message)]="no_card_message"></no-item>
    </tr>
    <tr *ngFor="let s of sales" >
        <sale-details [sale]="s" (event)="findSales()"></sale-details>

    </tr>
</table>
<pager #pagerComponent (pager)="getSalesByPage()"></pager>

<!--<sale-modal (event)="delayedFindSales()"></sale-modal>-->
