<h5 > {{modalData?.title}}</h5>
<!--<button type="button" class="close" (click)="close()">-->
<!--    <span aria-hidden="true">&times;</span>-->
<!--</button>-->
<div [ngSwitch]="modalData?.event.meta?.type">
    <ng-container *ngSwitchCase="'admin'">
        <div mat-dialog-content>
            <gym-closed [event]="modalData.event"></gym-closed>
        </div>
        <ng-container *ngTemplateOutlet="ok">

        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'reservation'">
        <div mat-dialog-content>
            <info-personal-event [event]="modalData.event"></info-personal-event>
        </div>
        <ng-container *ngTemplateOutlet="ok">

        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'course'">
        <ng-container *ngIf="!isReserved(); else reserved">
            <div mat-dialog-content>
                <reserve-course-event [event]="modalData?.event"></reserve-course-event>
            </div>
            <div mat-dialog-actions>
                <button (click)="close()" color="basic" mat-flat-button type="button">Cancella</button>
                <button (click)="submit()" color="primary" mat-flat-button type="button">Conferma</button>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #ok>
    <div mat-dialog-actions>
        <button mat-flat-button type="button" color="basic" (click)="close()">Ok</button>
    </div>
</ng-template>

<ng-template #reserved>
    <div mat-dialog-content>
        <delete-reservation-course-event [event]="modalData.event"></delete-reservation-course-event>
    </div>
    <div mat-dialog-actions>
        <button (click)="close()" color="basic" mat-flat-button type="button">Ok</button>
        <button (click)="cancel()" color="primary" mat-flat-button type="button">Cancella</button>
    </div>
</ng-template>

