<div class="main-container">
    <mat-toolbar color="primary" layout="row" class="main-toolbar">
        <a mat-icon-button (click)="snav.toggle()" *ngIf="screenWidth <= 599">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
        </a>
        <h1 class="main-app-name"> {{ appName }} </h1>
        <span class="spacer"></span>
        <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" routerLink="/auth/login" [hidden]="hideLogin()"></mat-icon>
        <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" (click)="logout()" [hidden]="hideLogout()"></mat-icon>
    </mat-toolbar>

    <mat-sidenav-container class="main-sidenav-container">
        <mat-sidenav class="main-sidenav" #snav [opened]="screenWidth > 599" [mode]="(screenWidth <= 599) ? 'over' : 'side'">
            <mat-toolbar *ngIf="screenWidth <= 599">
                <mat-toolbar-row>
                    <h2> {{ appName }} </h2>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-nav-list>
                <div *ngIf="authenticated">
                    <h2 matSubheader>Home</h2>
                    <a href=# mat-list-item
                       *ngIf="current_role_view == 1"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/sales">
                        <mat-icon fontSet="fas" fontIcon="fa-money-bill-wave"></mat-icon>&nbsp;&nbsp;Vendite</a>
                    <a href=# mat-list-item
                       *ngIf="current_role_view == 1"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/users">
                        <mat-icon fontSet="fas" fontIcon="fa-users"></mat-icon>&nbsp;&nbsp;Utenti</a>
                    <a href=# mat-list-item
                       *ngIf="current_role_view == 1"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/bundles">
                        <mat-icon fontSet="fas" fontIcon="fa-box"></mat-icon>&nbsp;&nbsp;Pacchetti</a>
                    <a href=# mat-list-item
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/calendar">
                        <mat-icon fontSet="fas" fontIcon="fa-calendar-alt"></mat-icon>&nbsp;&nbsp;Calendario
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <div *ngIf="authenticated">
                    <h2 matSubheader> Viste </h2>
                    <a *ngFor="let r of user.roles" mat-list-item
                       [ngClass]="{'active-link': current_role_view == r.id}" (click)="switchView(r.id)">
                        &nbsp;&nbsp;{{r.name.toLocaleLowerCase()}}
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="main-sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



