<div class="main-container">
    <mat-toolbar color="primary" layout="row" class="main-toolbar">
        <a mat-icon-button (click)="authenticated && snav.toggle()" *ngIf="screenWidth <= 599">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
        </a>
        <h1 class="main-app-name"> {{ appName }} </h1>
        <span class="spacer"></span>
        <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt" routerLink="/auth/login" [hidden]="hideLogin()"></mat-icon>
        <mat-icon fontSet="fas" fontIcon="fa-sign-out-alt" (click)="logout()" [hidden]="hideLogout()"></mat-icon>
    </mat-toolbar>
    <mat-sidenav-container class="main-sidenav-container">
        <mat-sidenav class="main-sidenav" #snav [opened]="screenWidth > 599 && authenticated"
                     [mode]="(screenWidth <= 599 && authenticated) ? 'over' : 'side'">
            <mat-toolbar *ngIf="screenWidth <= 599">
                <mat-toolbar-row>
                    <h2> {{ appName }} </h2>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-nav-list>
                <div>
                    <div id="menu-admin"
                         *ngIf="current_role_view == 1">
                        <h2 matSubheader>Home</h2>
                        <a href=# mat-list-item
                           [routerLinkActive]="['active-link']"
                           routerLink="/admin/sales">
                            <span>
                                <mat-icon fontSet="fas" fontIcon="fa-receipt"></mat-icon>&nbsp;&nbsp;Vendite
                            </span>
                        </a>
                        <a href=# mat-list-item
                           [routerLinkActive]="['active-link']"
                           routerLink="/admin/users">
                            <span>
                                <mat-icon fontSet="fas" fontIcon="fa-users"></mat-icon>&nbsp;&nbsp;Utenti
                            </span>
                        </a>
                        <a href=# mat-list-item
                           [routerLinkActive]="['active-link']"
                           routerLink="/admin/bundles">
                            <span>
                                <mat-icon fontSet="fas" fontIcon="fa-box"></mat-icon>&nbsp;&nbsp;Pacchetti
                            </span>
                        </a>
                    </div>
                    <div id="menu-customer"
                         *ngIf="current_role_view == 3">
                        <h2 matSubheader>Home</h2>
                        <a href=# mat-list-item
                           [routerLinkActive]="['active-link']"
                           routerLink="/customer/sales">
                            <span>
                                <mat-icon fontSet="fas" fontIcon="fa-receipt"></mat-icon>&nbsp;&nbsp;Ordini
                            </span>
                        </a>
                    </div>
                    <div id="menu-common">
                        <!--TODO divide calendar view in different components-->
                        <a href=# mat-list-item
                           [routerLinkActive]="['active-link']"
                           routerLink="/home/calendar">
                            <span>
                                <mat-icon fontSet="fas" fontIcon="fa-calendar-alt"></mat-icon>&nbsp;&nbsp;Calendario
                            </span>
                        </a>
                    </div>
                    <div id="menu-account">
                        <h2 matSubheader>Account</h2>
                        <a href=# mat-list-item
                           [routerLinkActive]="['active-link']"
                           routerLink="/profile">
                            <span>
                                <mat-icon fontSet="fas" fontIcon="fa-user"></mat-icon>&nbsp;&nbsp;I miei dettagli
                            </span>
                        </a>
                    </div>
                    <!--TODO menu and switch view has to be deleted-->

                    <div id="menu-view"
                         *ngIf="current_role_view == 1">
                        <h2 matSubheader> Viste </h2>
                        <a *ngFor="let r of user.roles" mat-list-item
                           [ngClass]="{'active-link': current_role_view == r.id}" (click)="switchView(r.id)">
                            &nbsp;&nbsp;{{r.name.toLocaleLowerCase()}}
                        </a>
                    </div>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="main-sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



