<nav class="navbar navbar-expand-sm navbar-dark navbar-color" >
    <a class="navbar-brand" href="/">GoodFellas</a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item" *ngIf="authenticated"  [ngClass]="{'active': !isOnHome()}">
                <a class="nav-link"
                   (click)="toHome()"
                   [ngClass]="{'disabled': isOnHome()}">
                    <i class="fas fa-home"></i>&nbsp;&nbsp;Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown d-lg-none" *ngIf="current_role_view">
                <a class="nav-link dropdown-toggle active"
                   id="homeDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fas fa-sitemap">&nbsp;&nbsp;</i>Sezioni
                </a>
                <div class="dropdown-menu" aria-labelledby="homeDropdown">
                    <a class="dropdown-item"
                       [routerLinkActive]="['active-link']"
                       routerLink="/profile/user">
                        <i class="fas fa-user">&nbsp;&nbsp;</i>Profilo</a>
                    <a class="dropdown-item"
                       *ngIf="current_role_view == 1"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/sales">
                        <i class="fas fa-money-bill-wave">&nbsp;&nbsp;</i>Vendite</a>
                    <a class="dropdown-item"
                       *ngIf="current_role_view == 1"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/users">
                        <i class="fas fa-users">&nbsp;&nbsp;</i>Utenti</a>
                    <a class="dropdown-item"
                       *ngIf="current_role_view == 1"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/bundles">
                        <i class="fas fa-box">&nbsp;&nbsp;</i>Pacchetti</a>
                    <a class="dropdown-item"
                       *ngIf="current_role_view"
                       [routerLinkActive]="['active-link']"
                       routerLink="/home/calendar">
                        <i class="fas fa-calendar-alt">&nbsp;&nbsp;</i>Calendario
                    </a>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown" *ngIf="hasRoles()">
                <a class="nav-link active dropdown-toggle"
                   id="viewDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fas fa-eye">&nbsp;&nbsp;</i>Viste
                </a>
                <div class="dropdown-menu" aria-labelledby="viewDropdown">
                    <a *ngFor="let r of user.roles" class="dropdown-item"
                       [ngClass]="{'active-link': current_role_view == r.id}"
                       (click)="switchView(r.id)">
                        <i class="fas fa-user">&nbsp;&nbsp;</i>{{r.name}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [hidden]="hideLogin()" routerLink="/auth/login">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [hidden]="hideLogout()" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a>
            </li>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
        -->
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<div id="notifications">
</div>
<!--

<div class="alert success alert-message" [hiddenBundles]="!success">
    <strong>{{bundle.name}}</strong> è stato aggiunto alla Lista dei Pacchetti.
    <span class="closebtn">&times;</span>
</div>-->
