<div class="page-content container">
    <div class="row" style="margin-top: 7%;">
        <div class="col-lg-4 d-none d-md-inline"></div>
        <div class="col-lg-4 col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form" role="form" class="form-gym" (submit)="form.valid && login()">
                        <h2 class="form-header">Login</h2>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" placeholder="Email"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   formControlName="email"
                                   [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required/>
                            <div *ngIf="email.touched && email.invalid" class="error-message">
                                <div *ngIf="!!email.errors?.required">Email obbligatoria</div>
                                <div *ngIf="!!email.errors?.email"><p>
                                    Email non valida</p></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" placeholder="Password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   formControlName="password"
                                   [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required/>
                            <div *ngIf="password.touched && password.invalid" class="error-message">
                                <div *ngIf="!!password.errors?.required">Password obbligatoria</div>
                            </div>
                        </div>
                        <div class="error-message" *ngIf="error"
                             style="padding-bottom: .5rem; text-align: center">
                            Email o password errata!
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Invia</button>
                    </form>
                    <div class="form-footer">
                        <a routerLink="/auth/sendChangePasswordToken">Password dimenticata?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-md-inline"></div>
    </div>
</div>
