<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form" role="form" novalidate
                  (ngSubmit)="form.valid && modifyPassword()"
                  *ngIf="!toResendToken">
                <h3 class="form-header">Modifica Password</h3>
                <mat-form-field>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password"
                           name="password"
                           placeholder="Password"
                           matInput
                           formControlName="password"
                           [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required/>
                    <mat-error *ngIf="password.touched && password.invalid">
                        <div *ngIf="!!password.errors?.required">Password obbligatoria</div>
                        <div *ngIf="!!password.errors?.minlength">La password deve contenere almeno 8 caratteri</div>
                        <div *ngIf="!!password.errors?.maxlength">La password non può contenere più di 30 caratteri</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <label for="confirmPassword" class="sr-only">Conferma Password</label>
                    <input type="password" id="confirmPassword"
                           name="confirmPassword"
                           placeholder="Conferma Password"
                           matInput
                           formControlName="confirmPassword"
                           [ngClass]="{ 'is-invalid': confirmPassword.touched && confirmPassword.invalid }"/>
                    <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
                        <div *ngIf="!!confirmPassword.errors?.required">Conferma password obbligatoria</div>
                        <div *ngIf="!!confirmPassword.errors?.noPasswordMatch">Le password non sono identiche</div>
                    </mat-error>
                </mat-form-field>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Invia</button>
            </form>
            <form role="form" (submit)="resendToken()" *ngIf="toResendToken">
                <div>
                    <h4 class="form-header">{{resendTokenMessage}}</h4>
                    <h6>Rinnovalo Subito!</h6>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Invia token</button>
            </form>
        </div>
    </div>
</div>
