<div *ngIf="current_role_view != 0" class="page-content container" >
    <div class="row">
        <div class="col-lg-3">
            <div id="admin-menu" class="d-none d-lg-block">
                <ul class="nav flex-column">
                    <li class="nav-item menu-heading menu-item">
                        <a>
                            <i class="fas fa-home">&nbsp;&nbsp;</i>Operazioni
                        </a>
                    </li>
                    <li class="nav-item menu-item" [routerLinkActive]="['active']">
                        <a routerLink="/profile/user">
                            <i class="fa fa-info" >&nbsp;&nbsp;</i>Informazioni
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        *ngIf="current_role_view == 1 && roles[0].name == 'CUSTOMER'" [routerLinkActive]="['active']">
                        <a routerLink="/profile/makeSale">
                            <i class="fa fa-box" >&nbsp;&nbsp;</i>Crea Vendita
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        *ngIf="roles[0].name == 'CUSTOMER'"
                        [routerLinkActive]="['active']">
                        <a routerLink="/profile/sales">
                            <i class="fa fa-money-bill-wave">&nbsp;&nbsp;</i>Vendite
                        </a>
                    </li>
                    <li class="nav-item menu-item"
                        [routerLinkActive]="['active']"
                        *ngIf="roles[0].name == 'CUSTOMER'">
                        <a routerLink="trainings">
                            <i class="fas fa-dumbbell">&nbsp;&nbsp;</i>Allenamenti
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none dropdown nav">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-cogs">&nbsp;&nbsp;</i>Operazioni
                </button>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a routerLink="/profile/user" class="dropdown-item"  [routerLinkActive]="['active']">
                        <i class="fa fa-info" >&nbsp;&nbsp;</i>Informazioni
                    </a>
                    <a routerLink="/profile/makeSale" class="dropdown-item"  [routerLinkActive]="['active']"
                       *ngIf="current_role_view == 1 && roles[0].name == 'CUSTOMER'">
                        <i class="fa fa-box" >&nbsp;&nbsp;</i>Crea Vendita
                    </a>
                    <a routerLink="/profile/sales" class="dropdown-item"  [routerLinkActive]="['active']"
                       *ngIf="roles[0].name == 'CUSTOMER'">
                        <i class="fa fa-money-bill-wave">&nbsp;&nbsp;</i>Vendite
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-9 col-md-12 col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


