<div class="card-row card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 d-none d-md-inline">
                <div class="green-led" [hidden]="!user.verified" aria-label="Verificato"></div>
                <div class="red-led" [hidden]="user.verified" aria-label="Non Verificato"></div>
            </div>
            <div class="col-md-10 col-10">
                <a (click)="goToUserProfile()">
                    <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                </a>
            </div>
            <div class="col-md-1 col-2">
                <a [hidden]="hidden" (click)="toggle()">
                    <i class="fa fa-angle-down" title="Apri"></i>&nbsp;
                </a>
                <a [hidden]="!hidden" (click)="toggle()">
                    <i class="fa fa-angle-up" title="Chiudi"></i>&nbsp;
                </a>
            </div>
        </div>
        <div [hidden]="!hidden" >
            <div class="row" style="margin-bottom: .75rem">
                <div class="col-sm-1 d-none d-md-inline">
                </div>
                <div class="col-sm">
                    <p class="card-text"><i class="fa fa-envelope"></i>&nbsp;&nbsp;
                        <a href="mailto:user.email">{{user.email}}</a></p>
                </div>
                <div class="card-text col-sm">
                    <i class="fa fa-calendar-alt"></i>&nbsp;&nbsp;
                    <span class="d-none d-sm-inline">
                        Membro dal:
                    </span>
                    <span [innerHTML]="getUserCreatedAt()"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 d-none d-md-inline">
                </div>
                <div class="card-text col-sm" >
                    <i class="fa fa-pencil-ruler"></i>&nbsp;
                    <span [innerHTML]="getUserRole()"></span>
                </div>
                <div class="card-text col-sm" style="color: green" >
                    <span [hidden]="!user.verified" ><i class="fa fa-check-circle"></i> Verificato</span>
                    <span [hidden]="user.verified"><i class="fa fa-times-circle"></i> Non Verificato</span>

                </div>
            </div>
        </div>
    </div>
</div>